<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<meta http-equiv="Pragma" content="no-cache"> 
<meta http-equiv="Cache-Control" content="no-cache"> 
<meta http-equiv="Expires" content="0"> 
<title>后台登录</title> 
<link href="__STATIC__/adminshop/login/css/login.css" type="text/css" rel="stylesheet"> 
<script src="__STATIC__/index/js/zhuangxiugongsi/jquery-1.js"></script>
</head> 
<body> 
<!-- 提示 -->
<div id="tishi" style="border:1px #A70000 solid;width: 26%;height: 6%;line-height:2.6em;z-index:99;display:none;position:absolute;top: 4%;margin-left: 37%;background-color: red;border-radius: 5px;text-align: center;color:#fff;" >
    
</div>
<div class="login">
    <div class="message">今朝装饰-后台管理</div>
    <div id="darkbannerwrap"></div>
    
    <form method="post">
        <input name="action" value="login" type="hidden">
        <input name="username" placeholder="用户名" id="username" required="" type="text">
        <hr class="hr15">
        <input name="password" placeholder="密码" id="password" required="" type="password">
        <hr class="hr15">
        <input value="登录" style="width:100%;" id="submit" type="button">
        <hr class="hr20">
    </form>
    
</div>
<script type="text/javascript">
    $("#submit").click(function(){
        var username = $("#username").val();
        var password = $("#password").val();
        if (username && password) {
            $.ajax({
                type:"post",
                dataType:'json',
                async:false,
                url:'{:url("adminshop/login/dologin")}',
                data:{"username":username,"password":password},
                success:function(dd){
                    if (dd.code == 200) {
                        $("#tishi").html(dd.msg);
                        $("#tishi").css("background-color","#90EE90");
                        $("#tishi").css("color","#000");
                        $("#tishi").css("border-color","#60CD5E");
                        $("#tishi").slideToggle();
                        setTimeout(function(){

                            $("#tishi").slideToggle();
                            window.location.href = "{:url('adminshop/index/index')}";
                        },1500);
                    }else{
                        $("#tishi").html(dd.msg);
                        $("#tishi").slideToggle();
                        setTimeout(function(){
                            $("#tishi").slideToggle();
                        },1500);
                    }
                     
                }
            })
        }else{
            $("#tishi").html("用户名或密码不为空");
            $("#tishi").slideToggle();
            setTimeout(function(){
                $("#tishi").slideToggle();
            },1500);
        }
    });
</script>
</body>
</html>