<!doctype html>

<html>

<head>

<meta charset="utf-8">

<title>unslider演示</title>

<script src="__STATIC__/index/js/zhuangxiugongsi/jquery-1.js"></script>

<script src="__STATIC__/jqlb/unslider.min.js"></script>

<style>

/*html, body { font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;}*/

ul, ol { padding: 0;}



.banner { position: relative; overflow: auto; text-align: center;}

.banner li { list-style: none; }

.banner ul li { float: left; }

</style>

</head>



<body>
<div>{$pro|prodoname=###}</div>

</div>




</body>

</html>

