<html>
<head>
<title></title>
<style type="text/css">
body,table{ 
font-size:12px; 
} 
table{ 
table-layout:fixed; 
empty-cells:show; 
border-collapse: collapse; 
margin:0 auto; 
} 
td{ 
height:30px; 
} 
h1,h2,h3{ 
font-size:12px; 
margin:0; 
padding:0; 
} 
.table{ 
	margin-top: 5%;
	margin-bottom: 3%;
border:1px solid #cad9ea; 
color:#666; 
} 
.table th { 
background-repeat:repeat-x; 
height:30px; 
} 
.table td,.table th{ 
border:1px solid #cad9ea; 
padding:0 1em 0; 
} 
.table tr.alter{ 
background-color:#f5fafe; 
}
</style>
</head>
<body>
<table width="90%" class="table">
<tr>
	<th>
		id
	</th>
	<th>
		name
	</th>
	<th>
		text
	</th>
	<th>
		time
	</th>
	<th>
		操作
	</th>
</tr>
{foreach name="res" item="vores"}
<tr>
	<td>
		{$vores.id}
	</td>
	<td>
		{$vores.name}
	</td>
	<td>
		{$vores.text}
	</td>
	<td>
		{$vores.time}
	</td>
	<td>
		<a href="{:url('index/index/edit',['id'=>$vores['id']])}">修改</a> | <a href="{:url('index/index/del',['id'=>$vores['id']])}">删除</a>
	</td>
</tr>
{/foreach}
</table>
<div>
	<button><a href="{:url('index/Index/add')}">添加</a></button>
</div>
</body>
</html>