<!DOCTYPE html>
<html class=" en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<!--<script charset="utf-8" src="__STATIC__/index/js/zhuangxiugongsi/lxb.js"></script>
-->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<title>今朝装饰</title>
<meta name="keywords" content="北京装修公司,北京装修公司排名,北京装修公司大全">
<meta name="description" content="金朝装修网汇集了北京装修公司排名大全,免费提供北京装修公司设计与报价，以及北京装修知识。免费拨打电话将直接转接到装修公司，无额外收费！">
<meta name="location" content="province=北京;city=北京;coord=116.39564503788,39.92998577808">
<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/zhuangxiugongsi/new_global.css">
<link rel="stylesheet" href="__STATIC__/index/css/zhuangxiugongsi/consult_online.css">
<link rel="stylesheet" href="__STATIC__/index/css/zhuangxiugongsi/service_bar-ea04e0ed1f.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/zhuangxiugongsi/zgs.css">
<link href="__STATIC__/index/css/zhuangxiugongsi/company_style.css" rel="stylesheet" type="text/css">
<link href="__STATIC__/index/css/zhuangxiugongsi/company_face.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/zhuangxiugongsi/footer-14aa6af176.css" charset="utf-8">
<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/zhuangxiugongsi/header-eb2d96da18.css" charset="utf-8">
<link rel="stylesheet" media="screen and (min-width:1460px)" type="text/css" href="__STATIC__/index/css/zhuangxiugongsi/header_big-62aaef5e7c.css" charset="utf-8">
<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/zhuangxiugongsi/to8to_common-267ba85308.css" charset="utf-8">
<!--[if !IE]><!--><!--<script src="__STATIC__/index/js/zhuangxiugongsi/hm.js"></script>
-->
<script src="__STATIC__/index/js/zhuangxiugongsi/jquery-1.js"></script>
<!--<![endif]-->
<script>
            var jq = jQuery.noConflict();
        </script>
<!--<script type="text/javascript" src="__STATIC__/index/js/zhuangxiugongsi/to8torsas.js"></script>
-->
        <!--<script type="text/javascript" src="__STATIC__/index/js/zhuangxiugongsi/tender.js"></script>
-->
        <!--<script src="__STATIC__/index/js/zhuangxiugongsi/to8torsaszb.js" type="text/javascript"></script>
-->
        <!-- <script type="text/javascript" src="__STATIC__/index/js/zhuangxiugongsi/jQuery.js"></script>
 -->
        <!--<script type="text/javascript" src="__STATIC__/index/js/zhuangxiugongsi/icpcountvisit.js"></script>
-->
<script type="text/javascript" src="__STATIC__/index/js/zhuangxiugongsi/common_new.js"></script>
<script src="__STATIC__/index/js/common/modules/header/header_abb6adcd.js" type="text/javascript" charset="utf-8"></script>
<!--<script type="text/javascript" src="__STATIC__/index/js/zhuangxiugongsi/jQuery.js"></script>
-->
<link rel="stylesheet" href="__STATIC__/index/css/zhuangxiugongsi/common_tender_pop.css">
<style>
</style>
<script src="__STATIC__/assets/js/jquery.min.js"></script>
</head>
<body class="narrow_1220">
<div class="header-nav">
    <div class="header-first-box">
        <div class="header-nav-first">
            <div class="nav-first-left" style="display: block;">
                <div class="city-switchover">
                    <i class="icon icon-coordinate"></i>
                    <span class="nav-city">北京</span>
                    <a class="nav-change" href="javascript:void(0)" rel="nofollow">
                                [切换]
                    </a>
                </div>
            </div>
            <div class="nav-first-right">
                <span class="nav-first-phone"><i class="icon icon-phone"></i>咨询热线：4006-900-288<i class="icon tel-arrow down"></i></span>
                <div class="division-thread">
                </div>
                <a href="javascript:void(0);" target="_blank" rel="nofollow">意见反馈</a>
                <div class="merchant-center">
                    <div class="merchant-center-title">
                        商家中心<i class="icon icon-arrow-bottom"></i><i class="cut-line cut-line-left"></i><i class="cut-line cut-line-right"></i>
                    </div>
                    <i class="cover-line"></i>
                    <ul>
                        <li>
                        <a href="javascript:void(0);" target="_blank" rel="nofollow">装修公司登录</a>
                        </li>
                        <li>
                        <a href="javascript:void(0);" target="_blank" rel="nofollow">装修公司入驻</a>
                        </li>
                        <li>
                        <a href="javascript:void(0);" target="_blank" rel="nofollow">装修公司APP</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-my-tubatu">
                    <div class="nav-my-tubatu-title">
                        我的金朝<i class="icon icon-arrow-bottom"></i><i class="cut-line cut-line-left"></i><i class="cut-line cut-line-right"></i>
                    </div>
                    <i class="cover-line"></i>
                    <ul>
                        <li>
                        <a href="javascript:void(0);" target="_blank" rel="nofollow">我的工地直播</a>
                        </li>
                        <li>
                        <a href="javascript:void(0);" target="_blank" rel="nofollow">我的商城订单</a>
                        </li>
                    </ul>
                </div>
                <a class="nav-first-reg" href="{:url('/regis')}" target="_blank" rel="nofollow">注册</a>
                <a class="nav-first-login" href="javascript:void(0);" target="_blank" rel="nofollow">登录</a>
            </div>
            <div class="header-user-show">
                <ul>
                    <li>
                    <div class="header-user-show-right">
                        <div class="nav-first-phone">
                            <i class="icon icon-phone"></i>咨询热线：4006-900-288
                            <i class="icon tel-arrow down"></i>
                        </div>
                        <div class="division-thread">
                        </div>
                        <a href="javascript:void(0);" target="_blank" rel="nofollow" class="feedback">意见反馈</a>
                        <div class="merchant-center">
                            <div class="merchant-center-title">
                                商家中心<i class="icon icon-arrow-bottom"></i><i class="cut-line cut-line-left"></i><i class="cut-line cut-line-right"></i>
                            </div>
                            <i class="cover-line"></i>
                            <ul>
                                <li>
                                <a href="javascript:void(0);" target="_blank" rel="nofollow">装修公司登录</a>
                                </li>
                                <li>
                                <a href="javascript:void(0);" target="_blank" rel="nofollow">装修公司入驻</a>
                                </li>
                                <li>
                                <a href="javascript:void(0);" target="_blank" rel="nofollow">装修公司APP</a>
                                </li>
                            </ul>
                        </div>
                        <div class="nav-my-tubatu">
                            <div class="nav-my-tubatu-title">
                                我的金朝<i class="icon icon-arrow-bottom"></i><i class="cut-line cut-line-left"></i><i class="cut-line cut-line-right"></i>
                            </div>
                            <i class="cover-line"></i>
                            <ul>
                                <li>
                                <a href="javascript:void(0);" target="_blank" rel="nofollow">我的工地直播</a>
                                </li>
                                <li>
                                <a href="javascript:void(0);" target="_blank" rel="nofollow">我的商城订单</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="nav-user-data-new" id="nav-user-data-new">
                    </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 内容开始 -->
    <div class="container clear">
       <div style="border: 1px red solid;height: 1000px;margin-top: 3%;">
    <table>
        <tr>
            <td>账号</td>
            <td><input type="text" class="code" id="code"><span id="tishi" style="color: red"></span></td>
        </tr>

        <tr>
            <td>密码</td>
            <td><input type="text" class="pass"></td>
        </tr>
        <tr>
            <td>公司名称</td>
            <td><input type="text" class="name"></td>
        </tr>
        <tr>
            <td>联系人</td>
            <td><input type="text" class="lianxiren"></td>
        </tr>

        <tr>
            <td>手机号码</td>
            <td><input type="text" class="lianxirenshouji"></td>
        </tr>
        
        <tr>
            <td>
                城市信息
            </td>
            <td>
                <select id="province" name="procode">
                    <option value='0'>省/市</option>
                            {foreach name="pro" item="ce"}
                    <option value='{$ce.code}'>{$ce.name}</option>
                            {/foreach}
                </select>
                <span id="citySpan">
                <select id="city" name="citycode">
                    <option value="0">市/地区</option>
                </select>
                </span>
                <span id="areaSpan">
                <select id="area" name="areacode">
                    <option value="0">县/市</option>
                </select>
                </span>
            </td>
        </tr>
    </table>
        <input type="button" id="sub" value="注册">
        </div>
<script type="text/javascript">
    //提交
    $("#sub").click(function(){
        //获取信息
        var code = $(".code").val();
        var pass = $(".pass").val();
        var name = $(".name").val();
        var lianxiren = $(".lianxiren").val();
        var lianxirenshouji = $(".lianxirenshouji").val();
        var citycode = $("#city").val();
        var areacode = $("#area").val();
        var procode = $("#province").val();
        if (!code) {
            alert("请输入账号");
            return false;
        }
        // alert(lianxirenshouji);
        $.ajax({
            type:"post",
            dataType:'json',
            async:false,
            url:'{:url("index/Index/doregis")}',
            data:{"code":code,"pass":pass,"name":name,"lianxiren":lianxiren,"lianxirenshouji":lianxirenshouji,"procode":procode,"citycode":citycode,"areacode":areacode},
            success:function(dd){
                // alert(dd);
                console.log(dd);
                if (dd.code == 200) {
                    alert(msg);
                }else{
                    alert(msg);
                }
            }
        })
    });
    //城市级联省-》市
   $("#province").change(function(){
        var provinceid=$(this).val();
        $.ajax({
            type:"post",
            dataType:'json',
            async:false,
            url:'{:url("admin/Ajaxssq/ajaxcity")}',
            data:{"provinceid":provinceid},
            success:function(city){
                // console.log(city); 
                var str = '<option value="0">市/地区</option>';
                $(city).each(function(i,dom){
                    str += "<option value="+dom['code']+">"+dom['name']+"</option>";
                });
                $("#city").html(str);
                 $("#area").html('<option value="0">县/市</option>');
            }
        })
    });
    $("#city").change(function(){
        var city=$(this).val();

        $.ajax({
            type:"post",
            dataType:'json',
            async:false,
            url:'{:url("admin/Ajaxssq/ajaxarea")}',
            data:{"city":city},
             success:function(area){ 
                var str = '<option value="0">县/市</option>';
                $(area).each(function (i,dom){
                     str += "<option value="+dom['code']+">"+dom['name']+"</option>"; 
                 
                    
                 });
                 $("#area").html(str);
            }
         })
    });
    // 账号唯一验证
    $("#code").blur(function(){
        var code=$(this).val();
        if(code)
        {
            $.ajax({
                type:"post",
                dataType:'json',
                async:false,
                url:'{:url("admin/Shop/ajaxcode")}',
                data:{"code":code},
                success:function(dd){ 
                    if(dd ==1 )
                    {
                        $("#code").val("");
                        $("#tishi").html('此账号已被注册'); 
                        return false;
                    }
                    else{
                       
                    }
                     
                }

            })
        }
        else
        {
            $("#tishi").css("color","red");
            $("#tishi").html('账号不能为空'); 
        }

   });
    $("#code").focus(function(){
        $("#tishi").html("");
    });
</script>
    </div>
    <!-- 内容结束 -->
    <div class="footer" id="footerHeight">
        <div class="footer-bottom">
            <div class="footer-websites-box">
                <div class="content-wrapper">
                    <div class="footer-city-list">
                        <a rel="nofollow" href="javascript:void(0);" target="_blank">友链合作&gt;</a><span class="on">友情链接</span><span>热门城市</span><span>同省城市</span>
                    </div>
                    <div class="footer-websites">
                        <ul class="clearfix">
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        北京装修公司排名 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        护套线规格 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        农资企业 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        北京中央空调 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        北京装修 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        北京装修 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        北京铁路局 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        北京建材网 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        北京企业网 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        北京贷款 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        瓷砖十大品牌 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        二手家具市场 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        北京装修 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        广州生活 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        北京租房 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        贵金属投资 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        宜昌房产新闻 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        枕芯 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        贴面板价格 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        北京短租公寓 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        北京租房网 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        北京短租房 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        北京装修设计公司 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        北京商业地产 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        北京房价 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        北京婚纱摄影 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        北京新楼盘 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        北京装修公司 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        北京装修设计 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        北京企业 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        北京美工设计招聘 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        北京分类信息网 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        北京汽车团购网 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        北京住宿 
                            </a>
                            </li>
                        </ul>
                        <ul class="clearfix" style="display:none;">
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        深圳装修 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        北京装修 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        上海装修 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        广州装修 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        成都装修 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        杭州装修 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        沈阳装修 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        重庆装修 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        天津装修 
                            </a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank">
                                        武汉装修 
                            </a>
                            </li>
                        </ul>
                        <ul class="clearfix" style="display:none;">
                            <li>
                            <a href="javascript:void(0);" target="_blank" title="北京装修网">
                                        北京装修公司 
                            </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-company-box">
                <div class="content-wrapper">
                    <div class="footer-qr-code">
                        <div class="footer-app-code">
                            <img src="__STATIC__/index/img/qrcode_wx.jpg">
                            <p>
                                微信公众号
                            </p>
                        </div>
                        <div class="footer-weixin-code">
                            <img src="__STATIC__/index/img/qrcode_app.jpg">
                            <p>
                                金朝APP
                            </p>
                        </div>
                    </div>
                    <div class="footer-company-info">
                        <ul>
                            <li>
                            <a href="javascript:void(0);" target="_blank" rel="nofollow">关于我们</a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank" rel="nofollow">联系我们</a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank" rel="nofollow">媒体报道</a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank" rel="nofollow">帮助中心</a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank" rel="nofollow">意见反馈</a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank" rel="nofollow">高薪聘请</a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank" rel="nofollow">校园招聘</a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank" rel="nofollow">法律声明</a>
                            </li>
                            <li>
                            <a href="javascript:void(0);" target="_blank" rel="nofollow">商务合作</a>
                            </li>
                        </ul>
                        <p class="footer-company-state">
                                免责声明：本网站部分内容由用户自行上传，如权利人发现存在误传其作品情形，请及时与本站联系。© 2017 Tubatu.com 金朝装修网和设计师社区 保留所有权利
                        </p>
                        <p class="footer-company-icp">
                            <span>中国装修网&nbsp; <a href="javascript:void(0);" target="_blank" rel="nofollow">粤ICP备08125558号</a></span>
                            <a href="javascript:void(0);" target="_blank" title="深圳市市场监督管理局企业主体身份公示" alt="深圳市市场监督管理局企业主体身份公示" rel="nofollow">
                            <i class="index-icon fbc-iocn1"></i>
                            </a>
                            <a href="javascript:void(0);" target="_blank" rel="nofollow">
                            <i class="index-icon fbc-iocn2"></i>
                            </a>
                            <a href="javascript:void(0);" target="_blank" rel="nofollow">
                            <i class="index-icon fbc-iocn3"></i>
                            </a>
                            <a href="javascript:void(0);" target="_blank" rel="nofollow">
                            <i class="index-icon fbc-iocn4"></i>
                            </a>
                            <a href="javascript:void(0);" target="_blank" rel="nofollow">
                            <i class="index-icon fbc-iocn5"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>