{extend name="layoutextend"}

{block name="link"}
 <div style="border: 1px red solid;height: 1000px;">
    <table>
        <tr>
            <td>账号</td>
            <td><input type="text" class="code"></td>
        </tr>

        <tr>
            <td>密码</td>
            <td><input type="text" class="pass"></td>
        </tr>
        <tr>
            <td>公司名称</td>
            <td><input type="text" class="name"></td>
        </tr>
        <tr>
            <td>联系人</td>
            <td><input type="text" class="lianxiren"></td>
        </tr>

        <tr>
            <td>手机号码</td>
            <td><input type="text" class="lianxirenshouji"></td>
        </tr>
       
        <tr>
            
        </tr>
    </table>
        <input type="button" id="sub" value="注册">
        </div>
<script type="text/javascript">
    $("#sub").click(function(){
        //获取信息
        var code = $(".code").val();
        var pass = $(".pass").val();
        var name = $(".name").val();
        var lianxiren = $(".lianxiren").val();
        var lianxirenshouji = $(".lianxirenshouji").val();
        // alert(lianxirenshouji);
        $.ajax({
            type:"post",
            dataType:'json',
            async:false,
            url:'{:url("index/Index/doregis")}',
            data:{"code":code,"pass":pass,"name":name,"lianxiren":lianxiren,"lianxirenshouji":lianxirenshouji},
            success:function(dd){
                // alert(dd);
                console.log(dd);
                if (dd.code == 200) {
                    //jq 删除元素
                }else{
                    alert(msg);
                }
            }
        })
    });
</script>
{/block}