{include file="base/header" /}
{block name="nav"}
<div class="header-first-box">
                <div class="header-nav-first">
                    <div class="nav-first-left" style="display: block;">
                        <div class="city-switchover">
                            <i class="icon icon-coordinate"></i>
                            <span class="nav-city">北京</span>
                            <a class="nav-change" href="javascript:void(0)" rel="nofollow">
                                [切换]
                            </a>
                        </div>
                    </div>
                    <div class="nav-first-right">
                        <span class="nav-first-phone"><i class="icon icon-phone"></i>咨询热线：4006-900-288<i class="icon tel-arrow down"></i></span>
                        <div class="division-thread"></div>
                        <a href="javascript:void(0);" target="_blank" rel="nofollow">意见反馈</a>
                        <div class="merchant-center">
                            <div class="merchant-center-title">商家中心<i class="icon icon-arrow-bottom"></i><i class="cut-line cut-line-left"></i><i class="cut-line cut-line-right"></i></div>
                            <i class="cover-line"></i>
                            <ul>
                                <li>
                                    <a href="javascript:void(0);" target="_blank" rel="nofollow">装修公司登录</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" target="_blank" rel="nofollow">装修公司入驻</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" target="_blank" rel="nofollow">装修公司APP</a>
                                </li>
                            </ul>
                        </div>
                        <div class="nav-my-tubatu">
                            <div class="nav-my-tubatu-title">我的金朝<i class="icon icon-arrow-bottom"></i><i class="cut-line cut-line-left"></i><i class="cut-line cut-line-right"></i></div>
                            <i class="cover-line"></i>
                            <ul>
                                <li>
                                    <a href="javascript:void(0);" target="_blank" rel="nofollow">我的工地直播</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" target="_blank" rel="nofollow">我的商城订单</a>
                                </li>
                            </ul>
                        </div>
                        <a class="nav-first-reg" href="{:url('/regis')}" target="_blank" rel="nofollow">注册</a>
                        <a class="nav-first-login" href="javascript:void(0);" target="_blank" rel="nofollow">登录</a>
                    </div>
                    <div class="header-user-show">
                        <ul>
                            <li>
                                <div class="header-user-show-right">
                                    <div class="nav-first-phone">
                                        <i class="icon icon-phone"></i>咨询热线：4006-900-288
                                        <i class="icon tel-arrow down"></i>
                                    </div>
                                    <div class="division-thread"></div>
                                    <a href="javascript:void(0);" target="_blank" rel="nofollow" class="feedback">意见反馈</a>
                                    <div class="merchant-center">
                                        <div class="merchant-center-title">商家中心<i class="icon icon-arrow-bottom"></i><i class="cut-line cut-line-left"></i><i class="cut-line cut-line-right"></i></div>
                                        <i class="cover-line"></i>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0);" target="_blank" rel="nofollow">装修公司登录</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" target="_blank" rel="nofollow">装修公司入驻</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" target="_blank" rel="nofollow">装修公司APP</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="nav-my-tubatu">
                                        <div class="nav-my-tubatu-title">我的金朝<i class="icon icon-arrow-bottom"></i><i class="cut-line cut-line-left"></i><i class="cut-line cut-line-right"></i></div>
                                        <i class="cover-line"></i>
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0);" target="_blank" rel="nofollow">我的工地直播</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" target="_blank" rel="nofollow">我的商城订单</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="nav-user-data-new" id="nav-user-data-new"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
{/block}
{block name="info"}
 <div class="header-nav-content">
                <div class="header-nav-box">
                    <div class="nav-content-left">
                        <div class="to8to-logo-box">
                            <!-- <a href="javascript:void(0);" class="nav-fzlink">
                                <img style="width: 80%; margin-top: -5%;"  src="__STATIC__/index/img/logo.jpg" alt="">
                            </a> -->
                            <a href="javascript:void(0);" class="nav-fzlink"><img style="width: 80%; margin-top: %;"  src="__STATIC__/index/img/logo.png" alt=""></a>
                            <a href="javascript:void(0);" rel="nofollow" target="_blank">
                                <!-- <img class="header-logo-gif"  style="width: 80%;"  src="__STATIC__/index/img/logo.jpg"> -->
                                <!-- <img class="header-logo-png" src="__STATIC__/index/img/logo.jpg"> -->
                            </a>
                        </div>
                    </div>
                    <div class="nav-content-center">
                        <ul class="nav-content-list">
                            <li>
                                <a href="javascript:void(0);" class="bottom-thread nav-fzlink">
                                    首页
                                </a>
                            </li>
                            <li class="have-arrow">
                                <a href="javascript:void(0);" class="bottom-thread">
                                    效果图
                                    <i class="icon icon-arrow"></i>
                                </a>
                            </li>
                            <li class="have-arrow on">
                                <a href="javascript:void(0);" class="bottom-thread nav-fzlink">
                                    装修公司
                                    <i class="icon icon-arrow"></i>
                                </a>
                            </li>
                            <li class="have-arrow">
                                <a href="javascript:void(0)" class="bottom-thread">
                                    装修攻略
                                    <i class="icon icon-arrow"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="bottom-thread" rel="nofollow" target="_blank">
                                    服务保障
                                </a>
                            </li>
                            <li class="have-arrow">
                                <a href="javascript:void(0);" class="bottom-thread" rel="nofollow">
                                    更多
                                    <i class="icon icon-arrow"></i>
                                </a>
                            </li>
                            <li class="last-li">
                                <a href="javascript:void(0)" class="bottom-thread" rel="nofollow" target="_blank" data-ptag="1_7_32_2035">
                                    下载APP
                                    <i class="icon icon-app"></i>
                                    <img src="__STATIC__/index/img/app.jpg" class="nav-app">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="nav-content-right">
                        <form id="searchform-new" action="" method="get" class="nav-fzlink">
                            <div class="nav-content-search-center">
                                <div class="nav-search-select">
                                    <span class="search-select-text">
                                    <span class="search-select-type">装修公司</span>
                                    <i class="icon icon-arrow"></i>
                                    </span>
                                    <ul class="search-select-list">
                                        <li class="list-now">装修公司</li>
                                        <li>问题</li>
                                        <li>攻略</li>
                                        <li>效果图</li>
                                        <li>建材家具</li>
                                        <li>小区</li>
                                    </ul>
                                </div>
                                <!--<input class ="none" type="text" name="keyword" autocomplete="off"></input>-->
                                <div class="nav-search-input">
                                    <input class="nav-search-center-input" name="keyword" autocomplete="off" type="text">
                                    <label class="nav-search-center-text">搜装修公司/问题/攻略/效果图</label>
                                </div>
                                <i class="icon icon-search"></i>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="header-nav-hover">
                    <div class="nav-hover-type">
                        <div class="nav-hover-zxgs">
                            <div class="nav-type-box">
                                <div class="nav-type-list nav-right-dashed nav-type-region">
                                    <a href="javascript:void(0);">
                                        <span class="nav-type-title">按服务区域<i class="icon icon-right-sign"></i></span>
                                    </a>
                                    <ul class="nav-zxgs-area">
                                    
                                    {foreach name="com_fuwuqytou" item="vocom_fuwuqytou"}
                                        <li>
                                            <a class="comservice">
                                            <input type="text" class="qyyuid" style="display: none;" value="{$vocom_fuwuqytou.qycode}">
                                                {$vocom_fuwuqytou.qyname}
                                            </a>
                                        </li>
                                    {/foreach}
                                    </ul>
                                </div>
                                <div class="nav-type-list nav-right-dashed nav-type-price">
                                    <a href="javascript:void(0);">
                                        <span class="nav-type-title">按价格<i class="icon icon-right-sign"></i></span>
                                    </a>
                                    <ul>
                                    {foreach name="com_pricetou" item="vocom_pricetou"}
                                        <li>
                                            <a class="comprice">
                                            <input type="text" class="jiaweiid" style="display: none;" value="{$vocom_pricetou.pcode}">
                                                {$vocom_pricetou.pname}
                                            </a>
                                        </li>
                                    {/foreach}
                                    </ul>
                                </div>
                                <div class="nav-right-dashed nav-type-genre">
                                    <a href="javascript:void(0);">
                                        <span class="nav-type-title">按类型<i class="icon icon-right-sign"></i></span>
                                    </a>
                                    <ul>
                                        {foreach name="com_leixingtou" item="vocom_leixingtou"}
                                        <li>
                                            <a class="comtype">
                                                <input type="text" class="leixingid" style="display: none;" value="{$vocom_leixingtou.lxcode}">
                                                {$vocom_leixingtou.lxname}
                                            </a>
                                        </li>
                                        {/foreach}
                                    </ul>
                                </div>
                                <div class="nav-type-list nav-type-style">
                                    <a href="javascript:void(0);" rel="nofollow">
                                        <span class="nav-type-title">按风格<i class="icon icon-right-sign"></i>
                                    </span>
                                    </a>
                                    <ul>
                                        {foreach name="com_fenggetou" item="vocom_fenggetou"}
                                        <span>
                                            <a class="comstyle">
                                            <input type="text" class="zhuanchangfgid" style="display: none;" value="{$vocom_fenggetou.zcfgcode}">
                                                {$vocom_fenggetou.zcfgname}
                                            </a>
                                        </span>
                                        {/foreach}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="nav-hover-xgt">
                            <div class="nav-type-box">
                                <div class="nav-type-list nav-right-dashed nav-type-space">
                                    <a href="javascript:void(0);" target="_blank">
                                        <span class="nav-type-title">按空间<i class="icon icon-right-sign"></i></span>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);" target="_blank">客厅</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" target="_blank">卧室</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" target="_blank">餐厅</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" target="_blank">厨房</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" target="_blank">卫生间</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" target="_blank">阳台</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="nav-type-list nav-right-dashed nav-type-style">
                                    <a href="javascript:void(0);" target="_blank">
                                        <span class="nav-type-title">按风格<i class="icon icon-right-sign"></i></span>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);" target="_blank">简约</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" target="_blank">现代</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" target="_blank">中式</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" target="_blank">欧式</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" target="_blank">美式</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" target="_blank">田园</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="nav-type-list nav-right-dashed">
                                    <a href="javascript:void(0);" target="_blank">
                                        <span class="nav-type-title">按户型<i class="icon icon-right-sign"></i>
                                    </span>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);" target="_blank">小户型</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" target="_blank">一居</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" target="_blank">二居</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" target="_blank">三居</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" target="_blank">四居</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" target="_blank">复式</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="nav-list-img">
                                    <a href="javascript:void(0);" target="_blank" class="nav-fzlink">
                                        <i class="icon icon-nav-mfsj">
                                        <i class="icon icon-nav-xs"></i>
                                        </i>
                                        <span class="nav-list-text">免费设计</span>
                                    </a>
                                    <a href="javascript:void(0);" target="_blank">
                                        <i class="icon icon-nav-gdsj"></i>
                                        <span class="nav-list-text">定制设计</span>
                                    </a>
                                    <a href="javascript:void(0);" target="_blank">
                                        <i class="icon icon-nav-diy"></i>
                                        <span class="nav-list-text">云设计</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="nav-hover-zxgl">
                            <div class="nav-type-box ">
                                <div class="nav-type-list nav-type-small nav-right-dashed">
                                    <span class="nav-type-title" title="不可点">装修前<i class="icon icon-right-sign"></i></span>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);" target="_blank">收房</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" target="_blank">设计</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" target="_blank">合同</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" target="_blank">预算</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="nav-type-list nav-right-dashed">
                                    <span class="nav-type-title" title="不可点">装修中<i class="icon icon-right-sign"></i></span>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);" target="_blank">拆改</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" target="_blank">水电</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" target="_blank">防水</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" target="_blank">泥瓦</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" target="_blank">木工</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" target="_blank">油漆</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="nav-type-list nav-type-least nav-right-dashed">
                                    <span class="nav-type-title" title="不可点">装修后<i class="icon icon-right-sign"></i></span>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);" target="_blank">竣工</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" target="_blank">入住</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="nav-list-img zxgl-list-inlet">
                                    <a href="javascript:void(0);" class="list-img-big" target="_blank">
                                        <i class="icon icon-nav-xzx"></i>
                                        <span class="nav-list-text">3分钟学装修</span>
                                    </a>
                                    <a href="javascript:void(0);" class="list-img-riji" target="_blank">
                                        <i class="icon icon-nav-riji">
                                        <i class="icon icon-nav-hot"></i>
                                        </i>
                                        <span class="nav-list-text">业主日记</span>
                                    </a>
                                    <a href="javascript:void(0);" target="_blank">
                                        <i class="icon icon-nav-ask"></i>
                                        <span class="nav-list-text">在线问答</span>
                                    </a>
                                    <a href="javascript:void(0);" target="_blank">
                                        <i class="icon icon-nav-bbs"></i>
                                        <span class="nav-list-text">论坛交流</span>
                                    </a>
                                    <a href="javascript:void(0);" class="nav-fzlink margin-zero" target="_blank">
                                        <i class="icon icon-nav-case"></i>
                                        <span class="nav-list-text">小区案例</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="nav-hover-more">
                            <div class="nav-type-box">
                                <div class="nav-list-img">
                                    <a href="javascript:void(0);" target="_blank">
                                        <i class="icon icon-nav-jjsc"></i>
                                        <span class="nav-list-text">家居商城</span>
                                    </a>
                                    <a href="javascript:void(0);" target="_blank">
                                        <i class="icon icon-nav-mfbj">
                                        <i class="icon icon-nav-mf"></i>
                                        </i>
                                        <span class="nav-list-text">免费报价</span>
                                    </a>
                                    <a href="javascript:void(0);" target="_blank">
                                        <i class="icon icon-nav-sjb">
                                        <i class="icon icon-nav-jp"></i>
                                        </i>
                                        <span class="nav-list-text">找设计师</span>
                                    </a>
                                    <a href="javascript:void(0);" class="nav-fzlink not-ground-city" rel="nofollow" target="_blank">
                                        <i class="icon icon-nav-mfyf"></i>
                                        <span class="nav-list-text">免费验房</span>
                                    </a>
                                    <a href="javascript:void(0);" rel="nofollow" target="_blank" class="not-ground-city">
                                        <i class="icon icon-nav-zxd"></i>
                                        <span class="nav-list-text">装修分期</span>
                                    </a>

                                    <a href="javascript:void(0);" target="_blank" class="not-ground-city">
                                        <i class="icon icon-nav-zzj"></i>
                                        <span class="nav-list-text">至享家</span>
                                    </a>
                                    <a href="javascript:void(0);" target="_blank" class="not-ground-city">
                                        <i class="icon icon-nav-znjj"></i>
                                        <span class="nav-list-text">智能家居</span>
                                    </a>
                                    <a href="javascript:void(0);" class="margin-zero" target="_blank">
                                        <i class="icon icon-nav-news"></i>
                                        <span class="nav-list-text">热点新闻</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="header-border-bottom"></span>
            </div>
{/block}
{block name="link"}{/block}
{include file="base/footer" /}