{extend name="layoutextend"}

{block name="info"}
<div class="company_header ">
    <div class="wrapper ">
        <div class="header-logo ">
            <a href=" " title="北京今朝装饰设计有限公司 " class="logo ">
                <img src="__STATIC__/uploads/{$shopcom[0]['logo']}" alt="北京今朝装饰设计有限公司 ">
            </a>
            <div class="company_explain ">
                <h1>
                    {$shopcom[0]['name']}
                </h1>
                <p class="addr ">地址：{$shopcom[0]['dizhi']} <a href=" " class="map "></a></p>
                <p class="tel ">
                    <span title="还在抄写地址电话吗？点一下，免费短信发给您 " class="GetMobile ">免费发送至手机</span>

                    <a class="qq " target="_blank " href=" " title="点击这里给北京今朝装饰设计有限公司发消息 ">QQ在线咨询</a>
                </p>
            </div>
        </div>
        <div class="share ">
<div class="article-share bdsharebuttonbox bdshare-button-style0-32 " data-bd-bind="1523428678629 ">
    <span>分享到：</span><a class="bds_qzone " data-cmd="qzone " title="分享到QQ空间 "></a><a class="bds_tsina " data-cmd="tsina " title="分享到新浪微博 "></a><a class="bds_weixin " data-cmd="weixin " title="分享到微信 "></a><a class="bds_tqq " data-cmd="tqq " title="分享到腾讯微博 "></a><a class="bds_sqq " data-cmd="sqq " title="分享到QQ好友 "></a><a class="bds_more " data-cmd="more ">更多</a> <span></span>
</div>
        </div>
    </div>
</div>

<div class="company_naver ">
    <div class="wrapper ">
        <a target="_blank " href="http://www.bzw315.com/zhaobiao/ " title="免费设计与报价 " class="free "><i></i>免费设计与报价</a>
    </div>
    <div class="company_naver_nav">
        <div class="wrapper">
            <a href="{:url('/shopcom',['comid'=>$shopcom[0]['id']])}" title="首页 " class="" >首页</a>
            <a href="{:url('/scjianjie',['comid'=>$shopcom[0]['id']])}"  title="装修公司简介 " class=""><span style="color:#fff;">公司简介</span></a>
            <a href="{:url('/schuodong',['comid'=>$shopcom[0]['id']])}" title="装修优惠活动 " class="">优惠活动</a>
            <a href="{:url('/scanli',['comid'=>$shopcom[0]['id']])}" title="装修案例 " class="">装修案例</a>
            <a href="{:url('/scgongdi',['comid'=>$shopcom[0]['id']])}" title="施工工地 " class="">施工工地</a>
            <a href="{:url('/scshejishi',['comid'=>$shopcom[0]['id']])} " title="装修设计团队 " class="active">设计团队</a>
            <a href="{:url('/scdianping',['comid'=>$shopcom[0]['id']])} " title="装修服务点评 " class=" ">服务点评</a>
            <a href="{:url('/sczixun',['comid'=>$shopcom[0]['id']])} " title="装修公司资讯 " class=" ">公司资讯</a>
            <a href="{:url('/sclxwm',['comid'=>$shopcom[0]['id']])}" title="联系我们 " class=" ">联系我们</a>
        </div>
    </div>
</div>

<div class="main ">
    <div class="wrapper ">
        <!-- 内容区域 -->
        <div class="banner_text " >
            <!-- 开始 -->
     <form id="jiaojianquyu" action="{:url('/scshejishi')}" style="display: none;" method="get">
        <input type="text" name="comid" value="{$comid}">
        等级<input type="text" name="grade" id="grade" value="">
        <input type="submit" value="提交" >
    </form>         
	<link rel="stylesheet" type="text/css" href="__STATIC__/shopcom/shejishi/person.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/shopcom/shejishi/style.css">

	<div  id="all">
		<div class="loc">
			<p><span>{$shopcom[0]['name']}&nbsp</span><span>>&nbsp</span><span>设计团队&nbsp</span><span>>&nbsp</span><span>{$designer['dname']}</span></p>
		</div>
		 <div class="left">
            <ul>
                <li class="sjquanbu">全部团队成员</li>
                      
                            <a><li class="sjjing">精英团队</li></a>
                      
                            <li class="sjshou">首席设计</li>
                      
                           <li class="sjzhu">主任设计</li>
                       
                            <li class="sjgao">高级设计师</li>
                             
               
            </ul>
            
        </div>
		<div class="right"> 
			  {php}
                $status=array("0"=>"无","1"=>"精英团队","2"=>"首席设计","3"=>"主任设计","4"=>"高级设计师");
            {/php}  
				<div class="right-lt">
					<p class="im"><img src="__STATIC__/uploads/{$designer['davatar']}" width="100px" height="100px" style="border-radius: 50%;"></p>
					<div class="jishi">
					             <a href="">预约此设计师</a>
					</div>
					<div class="zhi">
				                          <ul>
				                          	<li>
				                          		<p>设计图</p>
				                          		<span>{$designer['an']}</span>
				                          	</li>
				                          	<li>
				                          		<p>施工图</p>
				                          		<span>0</span>
				                          	</li>
				                          </ul>
				             </div>
			             </div>
				<div class="right-gt">
					<h3>{$designer['dname']}<span>&nbsp&nbsp{$status[$designer['grade']]}</span></h3>
					<div class="linian">
						<dl>
							<dt>设计理念</dt>
							<dd>{$designer['idea']}</dd>
							<dt>个人介绍</dt>
							<dd>{$designer['intro']}
							</dd>
					             </dl>
					</div>	
				</div>
				<div class="line-li"></div>	
				<div class="zuopin">
					<h3>设计作品<span>&nbsp&nbsp {$count}</span></h3>
					<div class="pin-tu">
						<ul>
							{foreach name="plan" item="pl"}
							<li><a href="{:url('/scanlide/detail',['comid'=>$comid,'planid'=>$pl.id])}"><img src="__STATIC__/uploads/{$pl['flogo']}"></a>
								<div class="meng">
									<p>{$pl.fname} <span>[{$pl.an}]</span><span>&nbsp&nbsp&nbsp&nbsp{$pl.time|timezhuanghuaduan=###}</span></p>
								</div>
							</li>
							{/foreach}
						</ul>
					</div>
		                          </div>	
		</div>					             	    
	  </div>
</body>
 <script type="text/javascript">
            
            //全部
                $(document).on("click",".sjquanbu",function(){
                    $("#grade").val();//赋值
                    $("#jiaojianquyu").submit();//提交form
                });
            
                $(document).on("click",".sjjing",function(){
                    $("#grade").val('1');//赋值
                    $("#jiaojianquyu").submit();//提交form
                });
            
                $(document).on("click",".sjshou",function(){
                    $("#grade").val('2');//赋值
                    $("#jiaojianquyu").submit();//提交form
                });
                $(document).on("click",".sjzhu",function(){
                    $("#grade").val('3');//赋值
                    $("#jiaojianquyu").submit();//提交form
                });
                $(document).on("click",".sjgao",function(){
                    $("#grade").val('4');//赋值
                    $("#jiaojianquyu").submit();//提交form
                });
                  
        </script>
	<script type="text/javascript">
	    var lis = document.querySelectorAll('.left  li ');
                for(var i=0;i<lis.length;i++){
                lis[i].setAttribute("index",i);
                lis[i].onclick=function(){
                for(var i=0;i<lis.length;i++){
                    if(this.getAttribute("index")==i){
                        lis[i].style.color="#01af63";
                         lis[i].style.fontWeight='bold';
                    }else{
                        lis[i].style.color="";
                        lis[i].style.fontWeight="";
                    }
                }
            }
        }
</script>
{/block}