{extend name="layoutextend"}
{block name="nav"}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<script type="text/javascript">
    //商标修改
    function imgPreview(fileDom){
        //判断是否支持FileReader
        if (window.FileReader) {
            var reader = new FileReader();
        } else {
            alert("您的设备不支持图片预览功能，如需该功能请升级您的设备！");
        }

        //获取文件
        var file = fileDom.files[0];
        var imageType = /^image\//;
        //是否是图片
        if (!imageType.test(file.type)) {
            alert("请选择图片！");
            return;
        }
        //读取完成
        reader.onload = function(e) {
            //获取图片dom
            var img = document.getElementById("preview");
            //图片路径设置为读取的图片
            img.src = e.target.result;
        };
        reader.readAsDataURL(file);
    }
    //商标添加
     function imgPreviews(fileDom){
        //判断是否支持FileReader
        if (window.FileReader) {
            var reader = new FileReader();
        } else {
            alert("您的设备不支持图片预览功能，如需该功能请升级您的设备！");
        }

        //获取文件
        var file = fileDom.files[0];
        var imageType = /^image\//;
        //是否是图片
        if (!imageType.test(file.type)) {
            alert("请选择图片！");
            return;
        }
        //读取完成
        reader.onload = function(e) {
            //获取图片dom
            var img = document.getElementById("previews");
            //图片路径设置为读取的图片
            img.src = e.target.result;
        };
        reader.readAsDataURL(file);
    }
    </script>
</head>
<body>
<div style="margin-left: 2%;margin-right: 2%; margin-top: 1%;">
    <h1 style="text-align: center;">效果图</h1>
    <button class="btn" style="margin-top: -5%;" id="showModel">添加效果图</button>
    <div class="hei">
    </div>
    <table class="table table-bordered">
    <thead>
    <tr>
        <th>
      编号
        </th>
        <th>
      名称
        </th>
         <th>
      图片
        </th>
        <th>
      上传者名称
        </th>
        <th>
       所属图册
        </th>
        <th>
        空间
        </th>
         <th style="display: none;">
        局部
        </th>
        <th>
        风格
        </th>
        <th>
        热门标签
        </th>
        <th>
      操作
        </th>
    </tr>
    </thead>
    <tbody id="yuansuzhijia">
      {foreach name="res" item="vores"}
    <tr>
        <td >
            <span class="id">{$vores.id}</span>
        </td>
        <td>
            <span class="phname">{$vores.phname}</span>
        </td>
        <td><span class="pimage" name="{$vores.pimage}"  ><img src="__STATIC__/uploads/{$vores.pimage}" style="width:50px;height: 50px" class="img"></span></td>
        <td>
            <span class="shangcz">{$vores.shangcz}</span>
        </td>
        <td>
            <span class="extatlas" name="{$vores.extatlas}">{$vores.name}</span>
        </td>
         <td>
            <span class="ect_kongjian" name="{$vores.ect_kongjian}">{$vores.ekname}</span>
        </td>
         <td style="display: none;">
            <span class="ect_jubu">{$vores.ect_jubu}</span>
        </td>
        <td>
            <span class="ect_zcfg" name="{$vores.ect_zcfg}">{$vores.zcfgname}</span>
        </td>
        <td>
            <span class="ect_remen" name="{$vores.ect_remen}"> {$vores.ect_remen}</span>
        </td>

        <td>
            <span style=" cursor: pointer;" class="showModel2">修改</span> | 
            <span style=" cursor: pointer;" class="delcom">删除</span> 
           
        </td>
    </tr>
      {/foreach}
    </tbody>
    </table>
</div>
<!-- 模态框 -->
<div>
    <!-- 模态框添加 -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <header class="modal-header">
            <h4>添加图片</h4>
            <span class="close">×</span>
            </header>
            <div class="modal-body">
                <form id="formsubadd" class="form-inline" method="post" enctype="multipart/form-data" action="{:url('admin/photo/add')}">
                    <table style="border-collapse:separate; border-spacing:10px; width: 100%;">
                            <input type="hidden" name="extatlas" id="extatlas" value="{$comid}">
                    <tr>
                        <td class='wid'>
            图片名称
                        </td>
                        <td>
                            <input type="text" name="phname" id="phname" placeholder="请输入图片名称">
                        </td>
                    </tr>
                    <tr>
                    <td class='wid'>
                       图片
                    </td>
                    <td>
                        <img id="previews" width="100px" />
                              <br />
                           
                        <input type="file" name="pimage" class="pimage" onchange="imgPreviews(this)"/>
                    </td>
                </tr>
                <style type="text/css">
                input::-ms-clear { display: none; }</style>
                    <tr>
                        <td class='wid'>
                        上传者
                        </td>
                        <td>
                            <input type="text" name="shangcz" id="shangcz" placeholder="请输入上传者名称">
                        </td>
                    </tr>
                    <tr>
                        <td class='wid'>
                    所属空间
                        </td>
                        <td>
                            <select name="ect_kongjian" id="kj">  
                               <option value ="0">请选择</option>  
                              {foreach name="kong" item="kj"}
                               <span class="qww"><option value ="{$kj.ekcode}">{$kj.ekname}</option></span>  
                              {/foreach}
                    </select>
                        </td>
                    </tr>
                    <tr>
                        <td class='wid'>
                    局部
                        </td>
                    
                        <td id="ect_jubu">
                            {foreach name="jubu" item="jb"}
                            <input type="checkbox" value="{$jb.ejcode}"  >{$jb.ejname}
                            {/foreach}
                            <input type="hidden" name="ect_jubu" class="jubu" value=""> 
                        </td>
                    </tr>
                        <tr>
                        <td class='wid'>
                        风格
                        </td>
                        <td>
                            <select name="ect_zcfg" id="zc">  
                               <option value ="0">请选择</option>  
                              {foreach name="zcfg" item="zc"}
                               <span class="qww"><option value ="{$zc.zcfgcode}">{$zc.zcfgname}</option></span>  
                              {/foreach}
                    </select>
                        </td>
                    </tr>
                       <!--  <tr>
                        <td class='wid'>
                        标签
                        </td>
                        <td>
                            <select name="ect_remen" id="rm">  
                               <option value ="0">请选择</option>  
                              {foreach name="remen" item="rm"}
                               <span class="qww"><option value ="{$rm.ercode}">{$rm.ername}</option></span>  
                              {/foreach}
                    </select>
                        </td>
                    </tr> -->
                        <tr>
                        <td class='wid'>
                        标签2
                        </td>
                        <td>
                        <!-- 实际热门标签 -->
                        <input style="display: none;" type="text" name="ect_remen" id="sjrmbiaoqian">
                        <div id="rmquyu">
                            <span>
                                <input type="text" class="rmhuiche" style="width: 23%;">
                                <span class="rmxshanchu" style=" cursor:pointer;margin-left: -4%;margin-right: 2%">X</span>
                            </span>
                        </div>
                            
                        </td>
                    </tr>
                    </table>
                </div>
                <footer class="modal-footer">
                <button type="button" id="cancel">取消</button>
                <button type="button" id="sure">确定</button>
                </footer>
            </form>
            <script type="text/javascript">
            //回车添加
                $('#rmquyu').bind('keypress',function(event){ 
                    if(event.keyCode == "13")      
                    {  
                        // 添加input 框
                        var str = '<span ><input type="text" class="rmhuiche" style="width: 23%;"><span class="rmxshanchu" style="cursor:pointer;margin-left: -4%;margin-right: 3.6%">X</span></span>';
                        $("#rmquyu").append(str);
                    }  
                    $(".rmhuiche").focus();
                });
            //x号删除
            $(document).on("click",".rmxshanchu",function(){
                $(this).parent().remove();
            })
            </script>
        </div>
    </div>
    <!-- 模态框修改 -->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <header class="modal-header">
            <h4>信息修改</h4>
            <span class="close2">×</span>
            </header>
            <div class="modal-body">
                <form id="formsubedit" class="form-inline" method="post" enctype="multipart/form-data" action="{:url('admin/photo/edit')}">
                    <table style="border-collapse:separate; border-spacing:10px; width: 100%;">
                            <input type="hidden" name="extatlas" id="extatlas" value="{$comid}">
                            <input type="hidden" name="id" id="pid2" value="">
                    <tr>
                        <td class='wid'>
                 图片名称
                        </td>
                        <td>
                            <input type="text" name="phname" id="phname2" placeholder="请输入图片名称">
                        </td>
                    </tr>
                    <tr>
                    <td class='wid'>
                       图片
                    </td>
                    <td>
                        <div id="img"><img   id="preview" style="width:100px;height: 100px" ></div>
                           
                        <input type="file" name="pimage" class="pimage" onchange="imgPreview(this)"/>
                    </td>
                </tr>
                    <tr>
                        <td class='wid'>
                        上传者
                        </td>
                        <td>
                            <input type="text" name="shangcz" id="shangcz2" placeholder="请输入上传者名称">
                        </td>
                    </tr>
                    <tr>
                        <td class='wid'>
                    所属空间
                        </td>
                        <td>
                            <select name="ect_kongjian" id="kj2">  
                               <option value ="0">请选择</option>  
                              {foreach name="kong" item="kj"}
                               <span class="qww"><option value ="{$kj.ekcode}">{$kj.ekname}</option></span>  
                              {/foreach}
                    </select>
                        </td>
                    </tr>
                    <tr>
                        <td class='wid'>
                    局部
                        </td>
                    
                        <td id="ect_jubu2">
                            {foreach name="jubu" item="jb"}
                            <input type="checkbox" value="{$jb.ejcode}"  >{$jb.ejname}
                            {/foreach}
                            <input type="hidden" name="ect_jubu" class="jubu2" value=""> 
                        </td>
                    </tr>
                        <tr>
                        <td class='wid'>
                        风格
                        </td>
                        <td>
                            <select name="ect_zcfg" id="zc2">  
                               <option value ="0">请选择</option>  
                              {foreach name="zcfg" item="zc"}
                               <span class="qww"><option value ="{$zc.zcfgcode}">{$zc.zcfgname}</option></span>  
                              {/foreach}
                    </select>
                        </td>
                    </tr>
                    <tr>
                        <td class='wid'>
                        标签2
                        </td>
                        <td>
                        <!-- 实际热门标签 -->
                        <input style="display: none;" type="text" name="ect_remen" id="sjrmbiaoqian2">
                        <div id="rmquyu2">
                            <!-- <span>
                                <input type="text" class="rmhuiche2" style="width: 23%;">
                                <span class="rmxshanchu2" style=" cursor:pointer;margin-left: -4%;margin-right: 2%">X</span>
                            </span> -->
                        </div>
                            
                        </td>
                    </tr>
                        <!-- <tr>
                        <td class='wid'>
                        标签
                        </td>
                        <td>
                            <select name="ect_remen" id="rm2">  
                               <option value ="0">请选择</option>  
                              {foreach name="remen" item="rm"}
                               <span class="qww"><option value ="{$rm.ercode}">{$rm.ername}</option></span>  
                              {/foreach}
                    </select>
                        </td>
                    </tr> -->
                    </table>
                    <script type="text/javascript">
            //回车添加
                $('#rmquyu2').bind('keypress',function(event){ 
                    if(event.keyCode == "13")      
                    {  
                        // 添加input 框
                        var str = '<span ><input type="text" class="rmhuiche2" style="width: 23%;"><span class="rmxshanchu2" style="cursor:pointer;margin-left: -4%;margin-right: 3.6%">X</span></span>';
                        $("#rmquyu2").append(str);
                    }  
  $(".rmhuiche2").focus();
                });
            //x号删除
            $(document).on("click",".rmxshanchu2",function(){
                $(this).parent().remove();
            })
            </script>
                </div>
                <footer class="modal-footer">
              <button type="button" id="cancel2">取消</button>
            <button type="button" id="sure2">确定</button>
                </footer>
            </form>
        </div>
    </div>
</div>
</body>
<!-- 模态框js -->
<script>  
// 添加
    var btn = document.getElementById('showModel');  
    var close = document.getElementsByClassName('close')[0];  
    var cancel = document.getElementById('cancel');  
    var sure = document.getElementById('sure');  
    var modal = document.getElementById('modal');  
    btn.addEventListener('click', function(){
        modal.style.display = "block";  
    });  
    close.addEventListener('click', function(){  
        modal.style.display = "none";  
    });  
    cancel.addEventListener('click', function(){  
        modal.style.display = "none";  
    });  
    sure.addEventListener('click', function(){  
        // 获取信息
        // var name = $("#aname").val();
         var ect_jb =[];
        $('#ect_jubu input:checkbox:checked').each(function() {
            ect_jb.push($(this).val());
        });
         var ect_jub=ect_jb.join();
         var ect_jubu= ect_jub.concat(",");
       $('#ect_jubu .jubu').val(ect_jubu);
       //赋值真是热门标签
        var zsrmbq = ',';
        $(".rmhuiche").each(function(){
        zsrmbq += $(this).val()+",";
             });
         $("#sjrmbiaoqian").val(zsrmbq);
            $("#formsubadd").submit();
    });
    // 修改   
    var close2 = document.getElementsByClassName('close2')[0];  
    var cancel2 = document.getElementById('cancel2');  
    var sure2 = document.getElementById('sure2');  
    var modal2 = document.getElementById('modal2'); 
    //模态框展示 
    $(".showModel2").click(function(){
        //清空以前的值
        $("#rmquyu2").html("");
        var id = $(this).parent().parent().find(".id").html();
        var pname = $(this).parent().parent().find(".phname").html();//获取name
        var shangcz = $(this).parent().parent().find(".shangcz").html();
        var  kongjian= $(this).parent().parent().find(".ect_kongjian").attr('name');
        var  zcfg= $(this).parent().parent().find(".ect_zcfg").attr('name');
        var  remen= $(this).parent().parent().find(".ect_remen").attr('name');
        var  image=$(this).parent().parent().find(".img").attr('src');
        // 热门标签赋值
        var remensz = remen.substring(1, remen.lastIndexOf(','));
        var str2 = '';
        $(remensz.split(",")).each(function (i,dom){
             // 添加input 框
                        str2 += '<span ><input type="text" class="rmhuiche2" value="'+dom+'" style="width: 23%;"><span class="rmxshanchu2" style="cursor:pointer;margin-left: -4%;margin-right: 3.6%">X</span></span>';
        });
        str2 += '<span ><input type="text" class="rmhuiche2"  style="width: 23%;"><span class="rmxshanchu2" style="cursor:pointer;margin-left: -4%;margin-right: 3.6%">X</span></span>';
                        $("#rmquyu2").append(str2);
        // console.log(remensz);
        var  jubu = $(this).parent().parent().find(".ect_jubu").html();
        //赋值
        var jub=jubu.substring(0, jubu.lastIndexOf(','));
          $(jub.split(",")).each(function (i,dom){
        $("#ect_jubu2 :checkbox[value='"+dom+"']").prop("checked",true);
        $(" #ect_jubu2 :checkbox[id='"+dom+"']").prop("checked",true);
    });

        $("#pid2").val(id);
        $("#phname2").val(pname);
        $("#shangcz2").val(shangcz);
        $("#kj2").find('option[value="'+kongjian+'"]').attr("selected",true);
        $("#zc2").find('option[value="'+zcfg+'"]').attr("selected",true);
        $("#rm2").find('option[value="'+remen+'"]').attr("selected",true);
        $("#img img").attr("src",image);
        // alert(comid);comname
         modal2.style.display = "block";  
        });
    close2.addEventListener('click', function(){  
        modal2.style.display = "none";  
    }); 
    cancel2.addEventListener('click', function(){  
        modal2.style.display = "none";  
    });  
    sure2.addEventListener('click', function(){
        // 获取信息
          var ect_jb =[];
        $('#ect_jubu2 input:checkbox:checked').each(function() {
            ect_jb.push($(this).val());
        });
         var ect_jub=ect_jb.join();
         var ect_jubu= ect_jub.concat(",");
       $('#ect_jubu2 .jubu2').val(ect_jubu);
       //赋值真是热门标签
                        var zsrmbq = ',';
                        $(".rmhuiche2").each(function(){
                            zsrmbq += $(this).val()+",";
                        });
                        $("#sjrmbiaoqian2").val(zsrmbq);
            $("#formsubedit").submit();
    });
    // 执行删除
    $(".delcom").click(function(){
        if(confirm("确定删除该类型吗？")){
            comid = $(this).parent().parent().find(".id").html();
           var image=$(this).parent().parent().find(".img").attr('src');
            // alert(comid);return false;
            $(this).parent().parent().remove();
            // console.log(aa);return false;
            $.ajax({
                type:"post",
                dataType:'json',
                async:false,
                url:'{:url("admin/photo/del")}',
                data:{"id":comid,"image":image},
                success:function(dd){
                    // console.log(dd);
                    if (dd.code == 200) {
                        //jq 删除元素
                    }else{
                        alert(msg);
                    }
                }
            })
        }
    });
</script>
</html>
{/block}