{extend name="layoutextend"}
{block name="nav"}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
</head>
<body>
<div style="margin-left: 2%;margin-right: 2%; margin-top: 1%;">
    <h1 style="text-align: center;">效果图图册</h1>
    <button class="btn" style="margin-top: -5%;" id="showModel">添加图册</button>
    <div class="hei">
    </div>
    <table class="table table-bordered">
    <thead>
    <tr>
        <th>
      编号
        </th>
        <th>
      名称
        </th>
        <th>
      上传者名称
        </th>
        <th>
      操作
        </th>
    </tr>
    </thead>
    <tbody id="yuansuzhijia">
      {foreach name="res" item="vores"}
    <tr>
        <td style="display: block;">
            <span class="id">{$vores.id}</span>
        </td>
        <td>
            <span class="ekname">{$vores.name}</span>
        </td>
        <td>
            <span class="scz_name">{$vores.scz_name}</span>
        </td>
        <td>
            <span style=" cursor: pointer;" class="showModel2">修改</span> | 
            <span style=" cursor: pointer;" class="delcom">删除</span> |
            <span style=" cursor: pointer;" ><a style="color: #000;" href="{:url('admin/photo/index',['id'=>$vores.id])}">图片管理</a></span>  
        </td>
    </tr>
      {/foreach}
    </tbody>
    </table>
</div>
<!-- 模态框 -->
<div>
    <!-- 模态框添加 -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <header class="modal-header">
            <h4>添加图册</h4>
            <span class="close">×</span>
            </header>
            <div class="modal-body">
                <form id="formsubadd" class="form-inline" method="post" enctype="multipart/form-data" action="{:url('admin/ectatlas/add')}">
                    <table style="border-collapse:separate; border-spacing:10px; width: 100%;">
                    <tr>
                        <td class='wid'>
            名称
                        </td>
                        <td>
                            <input type="text" name="name" placeholder="请输入名称">
                        </td>
                    </tr>
                    <tr>
                        <td class='wid'>
             上传者名称
                        </td>
                        <td>
                            <input type="text" name="scz_name" placeholder="请输入上传者名称">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            户型
                        </td>
                        <td>
                        <div>
                            <input type="text" style="display: none;" name="hxcode" id="huxingfuxuan">
                            {foreach name="layout" item="volayout"}
                            <input type="checkbox" class ="hxcodefx" value="{$volayout.lcode}"> <span style="margin-right: 10px;">{$volayout.lname}</span>
                            {/foreach}
                        </div>
                            
                        </td>
                    </tr>

                    <tr>
                        <td>
                            风格
                        </td>
                        <td>
                        <div>
                            <input type="text"  style="display: none;" name="fgcode" id="fenggefuxu">
                            {foreach name="fengge" item="vofengge"}
                            <input type="checkbox" class ="fenggefuxu" value="{$vofengge.zcfgcode}"><span style="margin-right: 10px;">{$vofengge.zcfgname}</span> 
                            {/foreach}
                        </div>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            面积
                        </td>
                        <td>
                        <div>
                            <input type="text"  style="display: none;" name="mjcode" id="mianjifu">
                            {foreach name="mianji" item="vomianji"}
                            <input type="checkbox" class ="mianjifu" value="{$vomianji.emcode}"> <span style="margin-right: 10px;">{$vomianji.emname}</span>
                            {/foreach}
                        </div>
                            
                        </td>
                    </tr>
                    </table>
                </div>
                <script type="text/javascript">

                // 户型
                   $("input[class='hxcodefx']").change(function(){  
                        var result="";  
                        $("input[class='hxcodefx']:checked").each(function(){  
                               result+=$(this).val()+',';  
                        });  
                         
                        $("#huxingfuxuan").val(result);      
                  
                    });
                // 风格
                   $("input[class='fenggefuxu']").change(function(){  
                        var result="";  
                        $("input[class='fenggefuxu']:checked").each(function(){  
                               result+=$(this).val()+',';  
                        });  
                         
                        $("#fenggefuxu").val(result);      
                  
                    });
                // 面积
                   $("input[class='mianjifu']").change(function(){  
                        var result="";  
                        $("input[class='mianjifu']:checked").each(function(){  
                               result+=$(this).val()+',';  
                        });  
                         
                        $("#mianjifu").val(result);      
                  
                    });
                </script>
                <footer class="modal-footer">
                <button type="button" id="cancel">取消</button>
                <button type="button" id="sure">确定</button>
                </footer>
            </form>
        </div>
    </div>
    <!-- 模态框修改 -->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <header class="modal-header">
            <h4>信息修改</h4>
            <span class="close2">×</span>
            </header>
            <div class="modal-body">
                <form id="formsubadd" class="form-inline" method="post" enctype="multipart/form-data" action="{:url('admin/ectatlas/add')}">
                    <table style="border-collapse:separate; border-spacing:10px; width: 100%;">
                    <input type="text" style="display: none;" id="id">
                    <tr>
                        <td class='wid'>
            名称
                        </td>
                        <td>
                            <input type="text" name="name" id="ekname" placeholder="请输入名称">
                        </td>
                    </tr>
                    <tr>
                        <td class='wid'>
             上传者名称
                        </td>
                        <td>
                            <input type="text" name="scz_name" id="scz_name" placeholder="请输入上传者名称">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            户型
                        </td>
                        <td>
                        <div>
                            <input type="text"  style="display: none;" name="hxcode" id="huxingfuxuan">
                            {foreach name="layout" item="volayout"}
                            <input type="checkbox" class ="hxcodefx" value="{$volayout.lcode}"> <span style="margin-right: 10px;" >{$volayout.lname}</span> 
                            {/foreach}
                        </div>
                            
                        </td>
                    </tr>

                    <tr>
                        <td>
                            风格
                        </td>
                        <td>
                        <div>
                            <input type="text"  style="display: none;" name="fgcode" id="fenggefuxu">
                            {foreach name="fengge" item="vofengge"}
                            <input type="checkbox" class ="fenggefuxu" value="{$vofengge.zcfgcode}">
                            <span style="margin-right: 10px;"> {$vofengge.zcfgname}</span>
                            {/foreach}
                        </div>
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            面积
                        </td>
                        <td>
                        <div>
                            <input type="text"  style="display: none;" name="mjcode" id="mianjifu">
                            {foreach name="mianji" item="vomianji"}
                            <input type="checkbox" class ="mianjifu" value="{$vomianji.emcode}">
                            <span style="margin-right: 10px;">{$vomianji.emname}</span> 
                            {/foreach}
                        </div>
                            
                        </td>
                    </tr>
                    </table>
                </div>
                <footer class="modal-footer">
                <button type="button" id="cancel2">取消</button>
                <button type="button" id="sure2">确定</button>
                </footer>
            </form>
        </div>
    </div>
</div>
</body>
<!-- 模态框js -->
<script>  
// 添加
    var btn = document.getElementById('showModel');  
    var close = document.getElementsByClassName('close')[0];  
    var cancel = document.getElementById('cancel');  
    var sure = document.getElementById('sure');  
    var modal = document.getElementById('modal');  
    btn.addEventListener('click', function(){
        modal.style.display = "block";  
    });  
    close.addEventListener('click', function(){  
        modal.style.display = "none";  
    });  
    cancel.addEventListener('click', function(){  
        modal.style.display = "none";  
    });  
    sure.addEventListener('click', function(){  
        // 获取信息
        // var name = $("#aname").val();
            $("#formsubadd").submit();
    });
    // 修改   
    var close2 = document.getElementsByClassName('close2')[0];  
    var cancel2 = document.getElementById('cancel2');  
    var sure2 = document.getElementById('sure2');  
    var modal2 = document.getElementById('modal2'); 
    //模态框展示 
    $(".showModel2").click(function(){
        var id = $(this).parent().parent().find(".id").html();
        var ekname = $(this).parent().parent().find(".ekname").html();//获取name
        var scz_name = $(this).parent().parent().find(".scz_name").html();//获取name
        //赋值
        $("#id").val(id);
        $("#ekname").val(ekname);
        $("#scz_name").val(scz_name);
        
        // alert(comid);comname
         modal2.style.display = "block";  
    });
    close2.addEventListener('click', function(){  
        modal2.style.display = "none";  
    }); 
    cancel2.addEventListener('click', function(){  
        modal2.style.display = "none";  
    });  
    sure2.addEventListener('click', function(){
        // 获取信息
            $("#formsubedit").submit();
    });
    // 执行删除
    $(".delcom").click(function(){
        if(confirm("确定删除该类型吗？")){
            comid = $(this).parent().parent().find(".id").html();
            // alert(comid);return false;
            $(this).parent().parent().remove();
            // console.log(aa);return false;
            $.ajax({
                type:"post",
                dataType:'json',
                async:false,
                url:'{:url("admin/ectkj/del")}',
                data:{"id":comid},
                success:function(dd){
                    // console.log(dd);
                    if (dd.code == 200) {
                        //jq 删除元素
                    }else{
                        alert(msg);
                    }
                }
            })
        }
    });
</script>
</html>
{/block}