{extend name="layoutextend"}

{block name="info"}
<div class="company_header ">
    <div class="wrapper ">
        <div class="header-logo ">
            <a href=" " title="北京今朝装饰设计有限公司 " class="logo ">
                <img src="__STATIC__/shopcom/img/201711301413196990.jpg " alt="北京今朝装饰设计有限公司 ">
            </a>
            <div class="company_explain ">
                <h1>
                    北京今朝装饰设计有限公司<i></i>
                </h1>
                <p class="addr ">地址：北京市丰台区东铁营顺一条8号院 <a href=" " class="map "></a></p>
                <p class="tel ">
                    <span title="还在抄写地址电话吗？点一下，免费短信发给您 " class="GetMobile ">免费发送至手机</span>

                    <a class="qq " target="_blank " href=" " title="点击这里给北京今朝装饰设计有限公司发消息 ">QQ在线咨询</a>
                </p>
            </div>
        </div>
        <div class="share ">
<div class="article-share bdsharebuttonbox bdshare-button-style0-32 " data-bd-bind="1523428678629 ">
    <span>分享到：</span><a class="bds_qzone " data-cmd="qzone " title="分享到QQ空间 "></a><a class="bds_tsina " data-cmd="tsina " title="分享到新浪微博 "></a><a class="bds_weixin " data-cmd="weixin " title="分享到微信 "></a><a class="bds_tqq " data-cmd="tqq " title="分享到腾讯微博 "></a><a class="bds_sqq " data-cmd="sqq " title="分享到QQ好友 "></a><a class="bds_more " data-cmd="more ">更多</a> <span></span>
</div>
        </div>
    </div>
</div>

<div class="company_naver ">
    <div class="wrapper ">
        <a target="_blank " href="http://www.bzw315.com/zhaobiao/ " title="免费设计与报价 " class="free "><i></i>免费设计与报价</a>
    </div>
    <div class="company_naver_nav">
        <div class="wrapper">
            <a href="http://bj.bzw315.com/shop/78219/ " title="首页 " class="active ">首页</a>
            <a href="header_bottom.html#Mobile" title="装修公司简介 " class=" ">公司简介</a>
            <a href="http://bj.bzw315.com/shop/78219/youhui/ " title="装修优惠活动 " class=" ">优惠活动</a>
            <a href="http://bj.bzw315.com/shop/78219/case/ " title="装修案例 " class=" ">装修案例</a>
            <a href="http://bj.bzw315.com/shop/78219/build/ " title="施工工地 " class=" ">施工工地<i></i></a>
            <a href="http://bj.bzw315.com/shop/78219/team/ " title="装修设计团队 " class=" ">设计团队</a>
            <a href="http://bj.bzw315.com/shop/78219/server//?v=69211 " title="装修服务点评 " class=" ">服务点评</a>
            <a href="http://bj.bzw315.com/shop/78219/news/ " title="装修公司资讯 " class=" ">公司资讯</a>
            <a href="http://bj.bzw315.com/shop/78219/contactus/ " title="联系我们 " class=" ">联系我们</a>
        </div>
    </div>
</div>

<div class="main ">
    <div class="wrapper ">
<div class="banner_text ">
    <!-- 轮播图 -->
    <div class="banner_small " >
       <div class="banner" id="b06">

    <ul>
        {foreach name="lbt" item="volbt"} 
        <li><img class="sliderimg" src="__STATIC__/uploads/{$volbt.shop_logo}" alt="" width="20%" height="280px"></li>
        {/foreach}

    </ul>

    <a href="javascript:void(0);" class="unslider-arrow06 prev"><img class="arrow" id="al" src="__STATIC__/jqlb/arrowl.png" alt="prev" width="20" height="35"></a>

    <a href="javascript:void(0);" class="unslider-arrow06 next"><img class="arrow" id="ar" src="__STATIC__/jqlb/arrowr.png" alt="next" width="20" height="37"></a>

</div>
    </div>


        <div class="text ">
            <div class="text_top ">
                <div class="text-l ">
                    <div class="company ">
                        <h6>
                            今朝装饰
                                <i class="i-A " title="金朝装饰A级信用 "></i>
                                                            <i class="i-V " title="金朝装饰Vip会员 "></i>
                                                            <i class="i-S " title="金朝装饰诚信认证 "></i>
                        </h6>
                        <p class="autn ">
                                <span class="s01 " title="营业执照已上传 ">营</span>
                                                        <span class="s04 " title="优惠活动 ">惠</span>0个
                            <span class="s07 " title="设计师数量 ">设</span>9个
                            <span class="s02 " title="案例 ">案</span>24个
                            <span class="s06 " title="评论 ">评</span>2条
                            <span class="s05 " title="访问量 ">访</span>6250次
                        </p>
                        <div class="text-r ">
                            <div class="mouth ">
                                <strong>8</strong>
                                <p>口碑值</p>
                            </div>
                        </div>
                    </div>
                    <div class="text_con ">
                        <p class="text_con_server ">
                            <span class="title ">服务区域：</span>
                                <span class="content " style="width: 80%;">东城区、西城区、崇文区、宣武区、朝阳区、丰台区、石景山区、海淀区、门头沟区、房山区、通州区、顺义区、昌平区、大兴区、怀柔区、平谷区</span>
                        </p>
                        <p class="text_con_work ">
                            <span class="title ">业务范畴：</span>
                        </p>

                    </div>
                </div>

            </div>

            <div class="text_foot ">
                    <span title="已支持免费量房 "><i></i>支持免费量房</span>
                <span><i></i>支持免费预算报价</span>
                    <span title="已支持装修保障金 "><i></i>支持装修保障金</span>
            </div>
            <div class="text_middel "><span>已有<i>301</i>人预约</span><span>预约热线：<i>400-9907-315</i></span><button type="button " class="btn bzw_popup_05" id=" ">立即预约</button></div>
        </div>
</div><div class="case_box ">
    <div class="nav_menu_title ">
        <a href="http://bj.bzw315.com/shop/78219/case/ " title=" " class="navbar-menu-more " target="_blank ">更多</a>
        <h3>
            装修案例<span> 今朝装饰装修案例 (<i>{$plancount}</i>)</span>
        </h3>
    </div>
    <div class="case_box_bd ">
            <ul>
            {foreach name="plan" item="voplan"}
                <li>
                    <div class="img_box ">
                        <img class="lazy img " src="__STATIC__/uploads/{$voplan.flogo} " alt="西山艺境 " style="display: block; ">
                        <a href=" " title=" " class="mask " target="_blank ">
                            <div class="tit ">
                                <p>装修方式：<span>{$voplan.ffangshi}</span></p>
                                <p>户型面积：<span>{$voplan.fmianji}㎡</span></p>
                                <p>装修预算：<span>{$voplan.fyusuan}万元</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="txt ">
                        <h6><a href=" " title="{$voplan.fname} " target="_blank ">{$voplan.fname}</a></h6>
                    </div>
                </li>
            {/foreach}       
            </ul>
    </div>
    <a href=" " title="招标 " class="ad " target="_blank "><img class="lazy " src="__STATIC__/shopcom/img/shop_banner.jpg "  alt="招标 " style="display: inline; "></a>
</div><div class="information_tender ">
    <div class="information ">
        <div class="nav_menu_title ">
            <a target="_blank " href="http://bj.bzw315.com/shop/78219/news/ " title=" 今朝装饰更多 " class="navbar-menu-more ">更多</a>
            <h3>资讯<span> 今朝装饰资讯(<i>13</i>)</span></h3>
        </div>
        <div class="img_txt ">
                <a href="http://bj.bzw315.com/shop/78219/newsdetail/454858.html " title="在选择装修公司之前要了解哪些内容?如何选择适合自己的装修公司 " class="img " target="_blank ">
                    <img class="lazy " src="__STATIC__/shopcom/img/201801311114164728.jpg " alt="在选择装修公司之前要了解哪些内容?如何选择适合自己的装修公司) " style="display: block; ">
                </a>
                <div class="txt ">
                    {foreach name="article" item="vo"}
                            <a href=" " title="{$vo.aname}" target="_blank ">{$vo.aname}</a>
                    {/foreach}
                </div>
        </div>
    </div>
    <div class="tender ">
        <div class="nav_menu_title ">
            <span class="discount "><a href="http://bj.bzw315.com/shop/78219/youhui/ "><span>优惠券 5000元</span></a></span>
            <h3>招标<span>已有<em class="num ">1825716</em>位业主免费发布招标</span></h3>
        </div>
        <div class="free ">
            <a href="http://www.bzw315.com/zhaobiao/ " title="免费发布招标 " class="a1 " target="_blank "><i></i>免费发布招标</a>
            <a href="http://www.bzw315.com/zhaobiao/ " title="免费发布招标 " class="a2 " target="_blank "><i></i>免费获取报价</a>
        </div>
            <table>
                <thead>
                    <tr>
                        <th>业主</th>
                        <th>区域</th>
                        <th>面积</th>
                        <th>预算</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>小（先生）</td>
                            <td title="北京-北京市-大兴区 ">北京-北京市...</td>
                            <td>110㎡</td>
                            <td>面议</td>
                        </tr>
                        <tr>
                            <td>王（女士）</td>
                            <td title="北京-北京市-顺义区 ">北京-北京市...</td>
                            <td>91㎡</td>
                            <td>面议</td>
                        </tr>
                        <tr>
                            <td>王（先生）</td>
                            <td title="北京-北京市-东城区 ">北京-北京市...</td>
                            <td>5000㎡</td>
                            <td>面议</td>
                        </tr>
                </tbody>
            </table>
    </div>
</div><div class="design_team ">
    <div class="nav_menu_title ">
        <a href="http://bj.bzw315.com/shop/78219/team/ " title=" " class="navbar-menu-more " target="_blank ">更多</a>
        <h3>设计团队<span> 今朝装饰设计师(<i>9</i>)</span></h3>
    </div>
    <div class="team ">
            <ul>
               {foreach name="designer" item="des"}
                    <li>
                        <a href=" " title="{$des.dname} " class="img_txt " target="_blank ">
                            <img class="lazy " src="__STATIC__/uploads/{$des.davatar} " alt="{$des.dname} " style="display: block; ">
                            <div class="txt ">
                                <h6><strong>{$des.dname}</strong>设计师</h6>
                                <p>
                                    <span>从业年限：<i class="num ">{$des.jobage}年以上</i></span>
                                        <i class="num ">2</i>套作品
                                </p>
                            </div>
                        </a>
                        <div class="link ">
                            <a href=" " class="active " title="查看案例 " target="_blank ">查看案例</a>
                            <a href="javascript:; " class="bzw_popup_01 " title="预约设计师 ">预约设计师</a>
                        </div>
                    </li>
                    {/foreach}
            </ul>
    </div>
</div><div class="construction_site ">
    <div class="nav_menu_title ">
        <div class="site_more fr ">
            <a href="http://bj.bzw315.com/shop/78219/ " title=" ">准备开工</a>
            <a href="http://bj.bzw315.com/shop/78219/ " title=" ">水电阶段</a>
            <a href="http://bj.bzw315.com/shop/78219/ " title=" ">泥水阶段</a>
            <a href="http://bj.bzw315.com/shop/78219/ " title=" ">油漆阶段</a>
            <a href="http://bj.bzw315.com/shop/78219/ " title=" ">竣工阶段</a>
            <a href="http://bj.bzw315.com/shop/78219/build/ " title=" " class="navbar-menu-more " target="_blank ">更多</a>
        </div>
        <h3>施工工地<span> 今朝装饰施工工地(<i>8</i>)</span></h3>
    </div>
    <div class="construction_site_bd ">
            <ul>
                    <li>
                        <a href=" " title="蔚来城 " target="_blank ">
                            <img class="lazy " src="__STATIC__/shopcom/img/201711301623539405.jpg " alt="蔚来城 " style="display: block; ">
                            <h6>蔚来城</h6><span>别墅</span>
                        </a>
                    </li>
                    <li>
                        <a href=" " title="蔚来城 " target="_blank ">
                            <img class="lazy " src="__STATIC__/shopcom/img/201711301623539405.jpg " alt="蔚来城 " style="display: block; ">
                            <h6>蔚来城</h6><span>别墅</span>
                        </a>
                    </li>
            </ul>
    </div>
</div><div class="company_profile ">
        <div class="nav_menu_title ">
            <a href="http://bj.bzw315.com/shop/78219/aboutus/ " title=" 今朝装饰公司简介 " class="navbar-menu-more " target="_blank ">详细</a>
            <h3><a title=" 今朝装饰公司简介 " target="_blank " href="http://bj.bzw315.com/shop/78219/aboutus/ ">公司简介</a><span> 今朝装饰公司简介</span></h3>
        </div>
        <div class="company_profile_bd ">
            <div class="video ">
                
                <img class="lazy img " src="__STATIC__/shopcom/img/video.png "  alt=" " style="display: block; ">
                <a class="play "><img class="lazy " src="__STATIC__/shopcom/img/play.png "  alt=" " style="display: block; "></a>
            </div>
            <div class="txt ">
                <h4> 今朝装饰设计有限公司</h4>
                <span class="tit ">
                    <i class="i01 "></i>先作人，后做事，再赚钱<i class="i02 "></i>
                </span>
                <div class="art ">
                    <p> 今朝装饰，中国家装行业上市品牌，1997年成立至今，凭借国际化的设计理念，高品质的服务团队和欧洲生态工艺体系及家居产品，为客户提供高品质的家装服务。 经营理念：诚信为本、全力以赴，以良好的信誉，优质的工程质量，完善的服务体系，来提高客户的满意度。质量理念：高素质人＋优质材料＋科学的工艺、规范的操作＝优质工程。 管理理念：公司内部的工作人员全程管理，绝对不外包、不转包。设计理念：我们一直坚持，每一项新的工......</p>
                </div>
                <div class="look ">
                    <a href="javascript:void(0)" title="预约装修设计 " class="active bzw_popup_05">预约装修设计</a>
                    <a href="" title=" " target="_blank ">查看详情</a>
                </div>
            </div>
        </div>
</div>
<div class="introduction ">
    <ul>
        <li>
            <i class="i-01 "></i>
            <div class="txt ">
                <h6>免费量房设计</h6>
                <p>装修立省30%</p>
            </div>
        </li>
        <li>
            <i class="i-02 "></i>
            <div class="txt ">
                <h6>多套设计方案</h6>
                <p>一定有你满意的</p>
            </div>
        </li>
        <li>
            <i class="i-03 "></i>
            <div class="txt ">
                <h6>参观工地</h6>
                <p>严格监管&nbsp;保证质量</p>
            </div>
        </li>
        <li>
            <i class="i-04 "></i>
            <div class="txt ">
                <h6>金牌保险</h6>
                <p>全程保障&nbsp;安心装修</p>
            </div>
        </li>
    </ul>
</div>
    </div>
</div>
<!-- 第一个弹出框 -->
<div class="whole_popup_box " id="login_dialogBox_01 " style="display: none;">
    <div class="whole_popup_tit popup_01 ">
        <strong>
            我的 <em>家居</em>
            我做主
        </strong>
        <p>
            <i class="line "></i>
            打造属于您的精致生活 <i class="line "></i>
        </p>
    </div>
    <div class="whole_popup_bd zhaobiao-bzwPopup01 ">
        <h5>申请专属设计</h5>
        <p class="sub_tit ">
            快速发布需求，找到
            <span>专属设计</span>
        </p>
        <div class="labs ">
            <div class="input-box ">
                <input type="text " class="text " name="applyuser " placeholder="您的称呼 ">
            </div>
            <div class="input-box ">
                <input type="text " class="text " name="mobile " placeholder="手机号码(必填) ">
            </div>
            <div class="input-box " style="position:relative;overflow:initial; ">
                <input type="text " name="mobilecode " class="text text02 " placeholder="动态验证码 ">
                <button type="button " class="get_tupian_box ">获取验证码</button>
                <div class="check-code " style="display: none; ">
                    <span>
                        <img class="imgCode ">
                        <a class="random-code " href="javascript:; ">换一换</a>
                    </span>
                    <span>
                        <input type="text " name="picturecode ">
                        <button class="get_code " type="button ">确定</button>
                    </span>
                </div>
            </div>
            <div class="select_box ">
                <!-- 户型 -->



<select name="housetype " id="design_leixing " class="leixing_select ">
    <option value="0 "> -- 请选择户型 --</option>
    <option value="2161 ">小户型</option>
    <option value="2162 ">一居室</option>
    <option value="2163 ">二居室</option>
    <option value="2164 ">三居室</option>
    <option value="2165 ">四居室</option>
    <option value="2166 ">五居室</option>
    <option value="2169 ">公寓</option>
    <option value="2167 ">复式</option>
    <option value="85 ">别墅</option>
    <option value="86 ">其他</option>
</select>
            </div>
            <div class="set ">
                <!-- 预算 -->



<select name="decoratebudget " id="design_budget " class="set_fl ">
    <option value="0 "> -- 请选择预算 --</option>
    <option value="88 ">5万以内</option>
    <option value="89 ">5-10万</option>
    <option value="90 ">10-15万</option>
    <option value="91 ">15-20万</option>
    <option value="92 ">20-30万</option>
    <option value="93 ">30-50万</option>
    <option value="94 ">50万以上</option>
    <option value="95 ">面议</option>
</select>
            </div>
        </div>
       
    </div>
</div>

<div class="company_footer stop-scroll ">
    <div class="wrapper ">
        <a href="javascript:void(0); " title=" 今朝装饰家居装饰集团股份有限公司( 今朝装饰) " class="f_logo ">
            <img src="__STATIC__/shopcom/img/201711301413196990.jpg " alt=" 今朝装饰家居装饰集团股份有限公司 ">
        </a>
        <div class="list ">
            <ul>
                <li>
                    <strong>公司概况</strong>
                    <a href="http://bj.bzw315.com/shop/78219/aboutus/ " title="公司简介 " target="_blank ">公司简介</a>
                    <a href="http://bj.bzw315.com/shop/78219/aboutus/ " title="公司大事记 " target="_blank ">公司大事记</a>
                    <a href="http://bj.bzw315.com/shop/78219/aboutus/#honor " title="荣誉资质 " target="_blank ">荣誉资质</a>
                </li>
                <li>
                    <strong>经典案例</strong>
                    <a href="http://bj.bzw315.com/shop/78219/case/ " title="装修案例 " target="_blank ">装修案例</a>
                    <a href="http://bj.bzw315.com/shop/78219/build/ " title="施工工地 " target="_blank ">施工工地</a>
                </li>
                <li>
                    <strong>精英团队</strong>
                    <a href="http://bj.bzw315.com/shop/78219/team/ " title="设计团队 " target="_blank ">设计团队</a>
                    <a href="javascript:void(0); " title="团队精神 ">团队精神</a>
                    <a href="javascript:void(0); " title="领军人物 ">领军人物</a>
                </li>
                <li>
                    <strong>装修工地</strong>
                    <a href="http://bj.bzw315.com/shop/78219/build/thome-p1/ " title="竣工工地 " target="_blank ">竣工工地</a>
                    <a href="http://bj.bzw315.com/shop/78219/build/tbuild-p1/ " title="在建工地 " target="_blank ">在建工地</a>
                </li>
                <li>
                    <strong>优惠活动</strong>
                    <a href="http://bj.bzw315.com/shop/78219/youhui/ " title="近期活动 " target="_blank ">近期活动</a>
                    <a href="http://bj.bzw315.com/shop/78219/youhui/ " title="社区活动 " target="_blank ">社区活动</a>
                </li>
            </ul>
        </div>
        <div class="ewm_phone ">
            <div class="ewm_box ">
                <img src="__STATIC__/shopcom/img/khd-code.png " alt= "金朝装饰APP">
			<p 金朝装饰APP</p>
				</div>
				<div class="phone">
					<strong>全国统一热线</strong>
					<p><i class="i-01"></i>400-9907-315</p>
					<p><i class="i-02"></i>在线咨询 9:00-18:00</p>
				</div>
				</div>
				</div>
				</div>
				<p class="copyright"><span>Copyright © 2013 bzw315.com All Rights Reserved. ICP</span><span>闽ICP备12016225号</span><span>金朝装饰技术支持</span><span>全国统一热线：400-9907-315</span></p>
				<div class="n-obtain-box">
					<div class="obtain-left">
						<h4>公司联系方式发至您手机，请查收！</h4>
						<h6>已有<span class="num">2898</span>位用户获取</h6>
						<span class="obtain-box-close"></span>
						<ul>
							<li>
								<p>
									<input type="hidden" id="hid-GetCommanyInfoUrl" value="http://bj.bzw315.com/shop/78219/getcommanyinfo.html">
									<input type="text" class="mobile" name="Mobile" id="obtain_mobile" placeholder="请输入您的手机">
								</p>
								<span id="mobile_msg"></span>
							</li>
							<li style="position:relative;overflow:initial;">
								<p>
									<input type="text" class="code" id="obtain_code" name="obtain_code" onkeyup="" placeholder="请输入验证码">
									<button class="code" id="obtain_hqyzm">获取验证码</button>
								</p>
								<div class="check-code" id="obtain_check_code" style="display: none;">
									<span>
                            <img class="imgCode" id="obtain_imgcode">
                            <a class="random-code" href="javascript:;" id="obtain_random_code">换一换</a>
                        </span>
									<span>
                            <input type="text" name="picturecode" class="picturecode" id="obtain_picturecode">
                            <button id="obtain_get_code" type="button" class="get_code">确定</button>
                        </span>
								</div>
								<p></p>
								<span id="code_msg"></span>
							</li>
							<li class="nobb">
								<p>
									<button class="btn" id="obtain_sendmess">提交</button>
									<span>为了您的利益及我们的口碑，您的隐私将被严格保密。</span>
								</p>
								<span id="btn_msg"></span>
							</li>
						</ul>
					</div>
					<div class="obtain-right">
						<div class="m-code-picture"><canvas width="88" height="88"></canvas></div>
						<input type="hidden" id="hid-sendurl" value="http://m.bzw315.com/shop/78219">
						<p>扫一扫二维码<br>直接获取企业信息</p>
					</div>
				</div>
				<!--<div class="whole_sidebar_fixed">
					<a class="job_part_box" href="http://www.bzw315.com/abouts/recruit/" target="_blank" title="我要应聘"></a>

					<section class="whole_sidebar">
						<ul>
							<li class="bzj_part_box">
								<a class="bzj_part">
									<i class="icon_bzj"></i> 保障金
								</a>
								<div class="bzj_part_open">
									<div class="bzj-layout" style="padding-top:15px;">
										<i class="icon_qq"></i>
										<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2853837244&amp;site=qq&amp;menu=yes" title="在线咨询" class="online" target="_blank">在线咨询</a>
										<p class="time">在线时间：9:00~18：00</p>
									</div>
								</div>
							</li>
							<li class="kefu_part_box">
								<a class="kefu_part">
									<i class="icon_kefu"></i> 客服
								</a>
								<div class="kefu_part_open">
									<div class="kefu-layout" style="padding-top:15px;">
										<i class="icon_qq"></i>
										<a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzkzODAwNjMwOV8zMzE2NDFfNDAwOTkwNzMxNV8yXw" title="在线咨询" class="online" target="_blank">在线咨询</a>
										<p class="time">在线时间：9:00~18：00</p>
										<p class="phone">固定电话：0592-3593333</p>

										<p class="tel">客服热线：0592-3593315</p>
									</div>
								</div>
							</li>

							<li class="weixin_part_box">
								<a class="weixin_part">
									<i class="icon_erweima"></i> 微信
								</a>
								<div class="weixin_part_open">
									<div class="weixin-layout">
										<em></em>
										<p class="icon-weixin-code">扫一扫有惊喜</p>
										<p>金朝装饰微信公众号</p>
									</div>
								</div>
							</li>
							<li class="app_part_box">
								<a class="app_part">
									<i class="icon_app"></i> APP
								</a>
								<div class="app_part_open">
									<div class="app-layout">
										<em></em>
										<p class="icon-app-code">手机扫 </p>
										<a href="http://www.bzw315.com/app/index.html" title="金朝装饰APP ios版" class="d_iphone" target="_blank">iphone版</a>
										<a href="http://www.bzw315.com/app/index.html" title="金朝装饰APP 安卓版" class="d_android" target="_blank">安卓版</a>
									</div>
								</div>
							</li>
						</ul>
						<span id="back_to_top" style="display: none;"></span>
					</section>
				</div>-->
				<!--第五个弹出框-->
				<div class="zhezhao" style="display: none;">
					
				</div>
				<div class="whole_popup_box" id="login_dialogBox_05" style="display: none;">
						<div class="whole_popup_tit popup_05">
						<strong>装修<em>就要省</em></strong>
						<p>
							<i class="line"></i> 省钱 省时 省事 省心 省力
							<i class="line"></i>
						</p>
						<span class="close_cha"> <img src="__STATIC__/shopcom/img/close2.gif"/>
						</span>
					</div>
					<div class="whole_popup_bd  zhaobiao-bzwPopup05">
						<h5>您装修我保障</h5>
						<p class="sub_tit">
							申请装修
							<span class="saverate">立省30%</span>
						</p>
						<div class="labs">
							<div class="input-box">
								<input type="text" class="text" name="applyuser" placeholder="您的称呼">
							</div>
							<div class="input-box">
								<input type="text" class="text" name="mobile" placeholder="手机号码(必填)">
							</div>
							<div class="input-box" style="overflow:initial;position:relative;">
								<input type="text" name="mobilecode" class="text text02" placeholder="动态验证码">
								<button type="button" class="get_tupian_box">获取验证码</button>
								<div class="check-code" style="display: none;">
									<span>
                        <img class="imgCode">
                        <a class="random-code" href="javascript:;">换一换</a>
                    </span>
									<span>
                        <input type="text" name="picturecode">
                        <button class="get_code" type="button">确定</button>
                    </span>
								</div>
							</div>
						</div>
						<p class="num">
							<label>
                <input type="checkbox" name="fengshuiService" class="check">
                风水服务
            </label>
						</p>
						<button type="button" class="popup_box_btn zhaobiao_btn">立即免费申请</button>
						<p class="popup_bottom_info">
							<label>
                服务热线 <em>400-9907-315</em>
            </label> 已有
							<span class="guaranteeuser">1825716</span>位业主享受服务
						</p>
					</div>
				</div>
    <link rel="stylesheet " type="text/css " href="__STATIC__/shopcom/css/zhaobiao.css "/>
    <link rel="stylesheet " type="text/css " href="__STATIC__/shopcom/css/main.css "/>
    <script src="__STATIC__/shopcom/js/bottom_float.js" type="text/javascript" charset="utf-8"></script>
	<div id="bottom-float" class="bottom-float">
  <div class="float-body "> 
  	<img class="explain " src="__STATIC__/shopcom/img/6.png " alt=" ">
    <div class="forms zhaobiaofoot ">
      <form class="form-vertical " action=" " method="post ">
        <div class="form-area ">
          <div class="col1 ">
            <div class="s1 ">
              <div class="ele t ">
                <input type="text " name="applyuser " placeholder="您的称呼 " tabindex="1 ">
              </div>
              <div class="ele ">
                <input type="text " name="housearea " placeholder="建筑面积 " tabindex="3 ">
                <span class="area-tips ">㎡</span></div>
            </div>
            <div class="s2 ">
              <div class="ele t " style="position:relative; ">
                <input type="text " name="mobile " placeholder="请输入您的手机 " maxlength="20 " tabindex="2 ">
                <input type="text " name="mobilecode " class="mobilecode " placeholder="手机验证码 " maxlength="6 " tabindex="3 ">
                <button type="button " class="get_tupian_box ">获取验证码</button>
                    <div class="check-code">
                        <span>
                            <img class="imgCode ">
                            <a class="random-code " href="javascript:; ">换一换</a>
                        </span>
                        <span>
                            <input type="text " class="picturecode " name="picturecode " style="padding:initial; ">
                            <button class="get_code " type="button ">确定</button>
                        </span>
                    </div>
              </div>
              <div class="ele ">
              <select name="decoratetypeway " class="select1 " tabindex="4 "><option value="0 ">装修方式</option>
                    <option value="1 ">全包</option>
                    <option value="0 ">半包</option>
                </select>
                <select name="decoratebudget " class="select2 " tabindex="5 "><option value="0 ">装修金额</option>
                    <option value="88 ">5万以内</option>
                    <option value="89 ">5-10万</option>
                    <option value="90 ">10-15万</option>
                    <option value="91 ">15-20万</option>
                    <option value="92 ">20-30万</option>
                    <option value="93 ">30-50万</option>
                    <option value="94 ">50万以上</option>
                    <option value="95 ">面议</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col3 ">立即<br>
            申请
            <input type="button " value=" " class="submitFabu zhaobiao_btn " tabindex="6 ">
          </div>
        </div>
      </form>
      <div class="num-text ">今天已有1437人预约</div>
    </div>
    <a href=""><img class="qrcode " src="__STATIC__/shopcom/img/7.png " alt=" "></a> <img id="bottom-close" class="close1 " src="__STATIC__/shopcom/img/8.png " alt=" "> 
  </div>
</div>
<div id="bottom-open" class="bottom-open" style="display: block; left: 0px; ">
	<img src="__STATIC__/shopcom/img/9.png " alt=" ">
</div>
<!--右侧弹出层结束-->

  				

{/block}