<div class="company_footer stop-scroll ">
    <div class="wrapper ">
        <a href="javascript:void(0); " title=" 今朝装饰家居装饰集团股份有限公司( 今朝装饰) " class="f_logo ">
            <img src="__STATIC__/shopcom/img/201711301413196990.jpg " alt=" 今朝装饰家居装饰集团股份有限公司 ">
        </a>
        <div class="list ">
            <ul>
                <li>
                    <strong>公司概况</strong>
                    <a href="http://bj.bzw315.com/shop/78219/aboutus/ " title="公司简介 " target="_blank ">公司简介</a>
                    <a href="http://bj.bzw315.com/shop/78219/aboutus/ " title="公司大事记 " target="_blank ">公司大事记</a>
                    <a href="http://bj.bzw315.com/shop/78219/aboutus/#honor " title="荣誉资质 " target="_blank ">荣誉资质</a>
                </li>
                <li>
                    <strong>经典案例</strong>
                    <a href="http://bj.bzw315.com/shop/78219/case/ " title="装修案例 " target="_blank ">装修案例</a>
                    <a href="http://bj.bzw315.com/shop/78219/build/ " title="施工工地 " target="_blank ">施工工地</a>
                </li>
                <li>
                    <strong>精英团队</strong>
                    <a href="http://bj.bzw315.com/shop/78219/team/ " title="设计团队 " target="_blank ">设计团队</a>
                    <a href="javascript:void(0); " title="团队精神 ">团队精神</a>
                    <a href="javascript:void(0); " title="领军人物 ">领军人物</a>
                </li>
                <li>
                    <strong>装修工地</strong>
                    <a href="http://bj.bzw315.com/shop/78219/build/thome-p1/ " title="竣工工地 " target="_blank ">竣工工地</a>
                    <a href="http://bj.bzw315.com/shop/78219/build/tbuild-p1/ " title="在建工地 " target="_blank ">在建工地</a>
                </li>
                <li>
                    <strong>优惠活动</strong>
                    <a href="http://bj.bzw315.com/shop/78219/youhui/ " title="近期活动 " target="_blank ">近期活动</a>
                    <a href="http://bj.bzw315.com/shop/78219/youhui/ " title="社区活动 " target="_blank ">社区活动</a>
                </li>
            </ul>
        </div>
        <div class="ewm_phone ">
            <div class="ewm_box ">
                <img src="__STATIC__/shopcom/img/khd-code.png " alt= "今朝装饰APP">
            <p 今朝装饰APP</p>
                </div>
                <div class="phone">
                    <strong>全国统一热线</strong>
                    <p><i class="i-01"></i>400-9907-315</p>
                    <p><i class="i-02"></i>在线咨询 9:00-18:00</p>
                </div>
                </div>
                </div>
                </div>
                <p class="copyright"><span>Copyright © 2013 bzw315.com All Rights Reserved. ICP</span><span>闽ICP备12016225号</span><span>今朝装饰技术支持</span><span>全国统一热线：400-9907-315</span></p>
                <div class="n-obtain-box">
                    <div class="obtain-left">
                        <h4>公司联系方式发至您手机，请查收！</h4>
                        <h6>已有<span class="num">2898</span>位用户获取</h6>
                        <span class="obtain-box-close"></span>
                        <ul>
                            <li>
                                <p>
                                    <input type="hidden" id="hid-GetCommanyInfoUrl" value="http://bj.bzw315.com/shop/78219/getcommanyinfo.html">
                                    <input type="text" class="mobile" name="Mobile" id="obtain_mobile" placeholder="请输入您的手机">
                                </p>
                                <span id="mobile_msg"></span>
                            </li>
                            <li style="position:relative;overflow:initial;">
                                <p>
                                    <input type="text" class="code" id="obtain_code" name="obtain_code" onkeyup="" placeholder="请输入验证码">
                                    <button class="code" id="obtain_hqyzm">获取验证码</button>
                                </p>
                                <div class="check-code" id="obtain_check_code" style="display: none;">
                                    <span>
                            <img class="imgCode" id="obtain_imgcode">
                            <a class="random-code" href="javascript:;" id="obtain_random_code">换一换</a>
                        </span>
                                    <span>
                            <input type="text" name="picturecode" class="picturecode" id="obtain_picturecode">
                            <button id="obtain_get_code" type="button" class="get_code">确定</button>
                        </span>
                                </div>
                                <p></p>
                                <span id="code_msg"></span>
                            </li>
                            <li class="nobb">
                                <p>
                                    <button class="btn" id="obtain_sendmess">提交</button>
                                    <span>为了您的利益及我们的口碑，您的隐私将被严格保密。</span>
                                </p>
                                <span id="btn_msg"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="obtain-right">
                        <div class="m-code-picture"><canvas width="88" height="88"></canvas></div>
                        <input type="hidden" id="hid-sendurl" value="http://m.bzw315.com/shop/78219">
                        <p>扫一扫二维码<br>直接获取企业信息</p>
                    </div>
                </div>
                <div class="zhezhao" style="display: none;">
                    
                </div>
                
    <link rel="stylesheet " type="text/css " href="__STATIC__/shopcom/css/zhaobiao.css "/>
    <link rel="stylesheet " type="text/css " href="__STATIC__/shopcom/css/main.css "/>
    <script src="__STATIC__/shopcom/js/bottom_float.js" type="text/javascript" charset="utf-8"></script>
    <div id="bottom-float" class="bottom-float">
  <div class="float-body "> 
    <img class="explain " src="__STATIC__/shopcom/img/6.png " alt=" ">
    <div class="forms zhaobiaofoot ">
      <form class="form-vertical " action=" " method="post ">
        <div class="form-area ">
          <div class="col1 ">
            <div class="s1 ">
              <div class="ele t ">
                <input type="text " name="applyuser " id="yuyuenameweibu" placeholder="您的称呼 " tabindex="1 ">
              </div>
              <div class="ele ">
                <input type="text " name="housearea " id="yuyuemianjiweibu" placeholder="建筑面积 " tabindex="3 ">
                <span class="area-tips ">㎡</span></div>
            </div>
            <div class="s2 ">
              <div class="ele t " style="position:relative; ">
                <input type="text " name="mobile " id="yuyuetelweibu" placeholder="请输入您的手s机 " maxlength="20 " tabindex="2 ">
                <input type="text " name="mobilecode " class="mobilecode " placeholder="手机验证码 " maxlength="6 " tabindex="3 ">
                <button type="button " class="get_tupian_box ">获取验证码</button>
                    <div class="check-code">
                        <span>
                            <img class="imgCode ">
                            <a class="random-code " href="javascript:; ">换一换</a>
                        </span>
                        <span>
                            <input type="text " class="picturecode " name="picturecode " style="padding:initial; ">
                            <button class="get_code " type="button ">确定</button>
                        </span>
                    </div>
              </div>
              <div class="ele ">
              <select name="decoratetypeway " class="select1 " id="yuyuefangshiweibu" tabindex="4 "><option value="0">装修方式</option>
                    <option value="1 ">全包</option>
                    <option value="0 ">半包</option>
                </select>
                <select name="decoratebudget " class="select2 " id="yuyuejineweibu" tabindex="5 "><option value="0">装修金额</option>
                    <option value="5万以内 ">5万以内</option>
                    <option value="5-10万 ">5-10万</option>
                    <option value="10-15万">10-15万</option>
                    <option value="15-20万">15-20万</option>
                    <option value="20-30万">20-30万</option>
                    <option value="30-50万 ">30-50万</option>
                    <option value="50万以上 ">50万以上</option>
                    <option value="面议 ">面议</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col3">立即<br>
            申请
            <input type="button " value=" " class="submitFabu zhaobiao_btn " tabindex="6 ">
          </div>
        </div>
      </form>
      <div class="num-text ">今天已有1437人预约</div>
    </div>
    <a href=""><img class="qrcode " src="__STATIC__/shopcom/img/7.png " alt=" "></a> <img id="bottom-close" class="close1 " src="__STATIC__/shopcom/img/8.png " alt=" "> 
  </div>
</div>
<!-- 蒙层2 -->
    <div class="ceng-one" style="display: none;">
        <div class="succ">
            <div class="succ-left">
                <p class="logotu">
                </p>
                <h3>恭喜你预约成功</h3>
                <p class="zhidian">
                    *稍后装修管家将致电您，为您提供免费装修咨询服务
                </p>
                <p style="cursor:pointer;" class="xiajian">
                    <a href="{:url('/scanli',['comid'=>$shopcom[0]['id']])}">更多精品案例<span><img src="__STATIC__/shopcom/fangan/image/xiajian.jpg"></span></a>
                </p>
                <div class="xian-tu">
                    
                </div>
            </div>
            <div class="succ-right">
                <div class="cha">
                    <img src="__STATIC__/shopcom/fangan/image/cha.jpg">
                </div>
                <div class="weixin">
                    <h3>关注今朝装饰微信</h3>
                    <p class="saoma">
                        扫码关注今朝装饰微信
                    </p>
                    <p class="gonglue">
                        <span>装修攻略随时看</span>
                    </p>
                    <div class="erweima">
                        <a><img src="__STATIC__/shopcom/img/7.png"></a>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <script type="text/javascript">
    // 公共 尾部 立即申请
    $(document).on("click",".col3",function(){
         //隐藏信息
            var yincanghttpinfo = $("#yincanghttpinfo").val();//http头部信息
            var yincangcomid = $("#yincangcomid").val();//公司id
            // 基本信息
            var yuyuename = $("#yuyuenameweibu").val();//名称
            var yuyuetel = $("#yuyuetelweibu").val();//手机号
            var yuyuemianji = $("#yuyuemianjiweibu").val();//面积
            var yuyuefangshi = $("#yuyuefangshiweibu").val();//方式
            var yuyuejine = $("#yuyuejineweibu").val();//金额

            // 判断名称
            if (!yuyuename) {
                $("#yuyuename").focus();
                $("#yuyuename").css("background-color","#FFFFCD");
                return false;
            }
            //判断手机号格式
            if (!yuyuetel) { 
                 $("#yuyuetel").focus();
                 // alert(123);
                $("#yuyuetel").css("background-color","#FFFFCD");
                return false;
            } else{
                if (!yuyuetel.match(/^(((13[0-9]{1})|159|153)+\d{8})$/)) { 
                    $("#yuyuetel").focus();
                $("#yuyuetel").css("background-color","#FFFFCD"); 
                    return false; 
                } 
            }
             // // 面积
            if (!yuyuemianji) {
                $("#yuyuemianji").focus();
                // alert(123);
                $("#yuyuemianji").css("background-color","#FFFFCD");
                return false;
            } 
             // 判断方式不为空
            if(yuyuefangshi == 0){
                $("#yuyuefangshi").css("background-color","#FFFFCD");
                return false; 
            }
             // 判断金额不为空
            if(yuyuejine == 0){
                $("#yuyuejine").css("background-color","#FFFFCD");
                return false; 
            }
            // 数据提交
            $.ajax({
                type:"post",
                dataType:'json',
                async:false,
                url:'{:url("shopcomyy/Anli/addyuyuexx")}',
                data:{"entran_ym":yincanghttpinfo,"comid":yincangcomid,"name":yuyuename,"tel":yuyuetel,"mianji":yuyuemianji,"zhuangxiufs":yuyuefangshi,"zhuangxiujine":yuyuejine},
                success:function(dd){
                    if (dd.code == 200) {
                        $(".close_cha").click();
                        $(".ceng-one").css("display", "block");
                        $(".ceng").css("display", "none");
                    }
                    // console.log(dd);
                }
            })
    });
    // 点击x号
         $(".cha").click(function() {
            $(".ceng").css("display", "none");
            $(".ceng-one").css("display", "none");
        })
    </script>
</body>
</html>