<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>装修金朝装饰</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="__STATIC__/shopcom/css/base.css" rel="stylesheet">
        <link href="__STATIC__/shopcom/css/shop.css" rel="stylesheet">
        <script src="__STATIC__/assets/js/jquery.min.js"></script>
        <link rel="stylesheet " href="__STATIC__/shopcom/css/share_style0_32.css ">
    </head>
    <body>