{extend name="layoutextend"}
{block name="nav"}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title></title>	
</head>
<body>
<div style="margin-left: 2%;margin-right: 2%;">
		<h1 style="text-align: center;">服务区域</h1>
<button class="btn" style="margin-top: -5%;" id="showModel">添加公司</button> 
	<table class="table table-bordered" >

		<thead>
			<tr>
				<!-- <th>id</th> -->
				<th>编号</th>
				<th>公司名称</th>
				<th>公司商标</th>
				<th>公司所在区</th>
				<th>公司地址</th>
				<th>服务区域</th>
				<th>服务风格</th>
				<th>服务类型</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody id="yuansuzhijia">
			<td style="display: none;">{$i=1}</td>
			{foreach name="res" item="vores"}
			
				<tr>
					<td style="display: none;"><span class="id">{$vores.id}</span></td>
					<td><span class="">{$i++}</span></td>
					<td><span class="name">{$vores.name}</span></td>
					<td><span class="logo">{$vores.logo}</span></td>
					<td><span class="comszqy">{$vores.com_szqy}</span></td>
					<td><span class="dizhi">{$vores.dizhi}</span></td>
					<td><span class="comfuqy">{$vores.com_fuqy}</span></td>
					<td><span class="comzcfg">{$vores.com_zcfg}</span></td>
					<td><span class="comleixing">{$vores.com_leixing}</span></td>
					<td>
						<span style=" cursor: pointer;" class="showModel2">修改</span> | 
						<span style=" cursor: pointer;" class="delcom">删除</span>
					</td>
				</tr>
			{/foreach}
		</tbody>
		{$page}
	</table>
</div>
<!-- 模态框 -->
<div>
	 <!-- 模态框添加 -->
	<div id="modal" class="modal">  
	    <div class="modal-content">  
	        <header class="modal-header">  
	            <h4>添加公司详情</h4>  
	            <span class="close">×</span>  
	        </header>  
	        <div class="modal-body">  
	            
				<table  style="border-collapse:separate; border-spacing:10px; width: 100%;" >
					<tr>
						<td>名称</td>
						<td>
							<input type="text" class="form-control" id="name" placeholder="请输入名字">
						</td>
					</tr>
					<tr>
						<td>公司所在区</td>
						<td>
							  <select name="sz" id="sz">  
                               <option value ="0">请选择</option>  
                              {foreach name="qy" item="sz"}
                               <option value ="{$sz.qycode}">{$sz.qyname}</option>  
                              {/foreach}
                    </select>    
						</td>
					<tr>
						<td>地址</td>
						<td>
							<input type="text" class="form-control" id="dizhi" placeholder="请输入公司地址">
						</td>
					</tr>
					<tr>
						<td>商标</td>
						<td>
							<input type="file" name="image" class="form-control" id="logo"  />
						</td>
					</tr>
					<tr>
						<td>服务区域</td>
						<td id="com_fuqy">
							{foreach name="qy" item="fu"}
							<input type="checkbox" value="{$fu.qycode}" name="com_fuqy"  id="com_fuqy">{$fu.qyname}
							{/foreach}
						</td>
					</tr>
					<tr>
						<td>服务风格</td>
						<td id="com_fuqy">
							{foreach name="zcfg" item="fg"}
							<input type="checkbox" value="{$fg.zcfgcode}" name="com_zcfg"  id="com_zcfg">{$fg.zcfgname}
							{/foreach}
						</td>
					</tr>
					<tr>
						<td>服务类型</td>
						<td id="com_leixing">
							{foreach name="xing" item="lei"}
							<input type="checkbox" value="{$lei.lxcode}" name="com_leixing" id="com_leixing">{$lei.lxname}
							{/foreach}
						</td>
					</tr>


				</table>
	        </div>  
	        <footer class="modal-footer">  
	            <button id="cancel">取消</button>  
	            <button id="sure">确定</button>  
	        </footer>  
	    </div>  
	</div> 
	<!-- 模态框修改 -->
	<div id="modal2" class="modal">  
	    <div class="modal-content">  
	        <header class="modal-header">  
	            <h4>模态框标题2</h4>  
	            <span class="close2">×</span>  
	        </header>  
	        <div class="modal-body">  
	            
				<table  style="border-collapse:separate; border-spacing:10px; width: 100%;" >
						<tr>
						<td>名称</td>
						<td>
							<input type="text" class="form-control" id="name2" placeholder="请输入名字">
						</td>
					</tr>
					<tr>
						<td>公司所在区</td>
						<td>
							  <select name="sz" id="sz2">  
                               <option value ="0">请选择</option>  
                              {foreach name="qy" item="sz"}
                               <option value ="{$sz.qycode}">{$sz.qyname}</option>  
                              {/foreach}
                    </select>    
						</td>
					<tr>
						<td>地址</td>
						<td>
							<input type="text" class="form-control" id="dizhi2" placeholder="请输入公司地址">
						</td>
					</tr>
					<tr>
						<td>商标</td>
						<td>
							<input type="file" name="image" class="form-control" id="logo2"  />
						</td>
					</tr>
					<tr>
						<td>服务区域</td>
						<td id="com_fuqy">
							{foreach name="qy" item="fu"}
							<input type="checkbox" value="{$fu.qycode}" name="com_fuqy"  id="com_fuqy2">{$fu.qyname}
							{/foreach}
						</td>
					</tr>
					<tr>
						<td>服务风格</td>
						<td id="com_fuqy">
							{foreach name="zcfg" item="fg"}
							<input type="checkbox" value="{$fg.zcfgcode}" name="com_zcfg"  id="com_zcfg2">{$fg.zcfgname}
							{/foreach}
						</td>
					</tr>
					<tr>
						<td>服务类型</td>
						<td id="com_leixing">
							{foreach name="xing" item="lei"}
							<input type="checkbox" value="{$lei.lxcode}" name="com_leixing" id="com_leixing2">{$lei.lxname}
							{/foreach}
						</td>
					</tr>


				</table>
	        </div>  
	        <footer class="modal-footer">  
	            <button id="cancel2">取消</button>  
	            <button id="sure2">确定</button>  
	        </footer>  
	    </div>  
	</div>  
</div>

</body>
<!-- 模态框js -->
<script>  
// 添加
    var btn = document.getElementById('showModel');  
    var close = document.getElementsByClassName('close')[0];  
    var cancel = document.getElementById('cancel');  
    var sure = document.getElementById('sure');  
    var modal = document.getElementById('modal');  
    btn.addEventListener('click', function(){
        modal.style.display = "block";  
    });  
    close.addEventListener('click', function(){  
        modal.style.display = "none";  
    });  
    cancel.addEventListener('click', function(){  
        modal.style.display = "none";  
    });  
     
    sure.addEventListener('click', function(){  
    	// 获取信息
    	var name = $("#name").val();
    	var dizhi = $("#dizhi").val();
    	var logo = $("#logo").val();
    	var sz = $("#sz").val();
    	var com_zc=[];
    	var com_lei = [];
        var com_fu = [];
        $('#com_leixing input:checkbox:checked').each(function() {
            com_lei.push($(this).val());
        });
        $('#com_fuqy input:checkbox:checked').each(function() {
            com_fu.push($(this).val());
        });
         $('#com_zcfg input:checkbox:checked').each(function() {
            com_zc.push($(this).val());
        });
         var com_zcf=com_zc.join();
         var com_zcfg= com_zcf.concat(",");
         var com_fuq=com_fu.join();
         var com_fuqy= com_fuq.concat(",");
         var com_leixin=com_lei.join();
         var com_leixing=com_leixin.concat(",");
         // alert(com_leixing);
    	if (name) {
    		$.ajax({
	            type:"post",
	            dataType:'json',
	            async:false,
	            url:'{:url("admin/Shop/add")}',
	            data:{"name":name,"dizhi":dizhi,"logo":logo,"com_leixing":com_leixing,"com_fuqy":com_fuqy,"com_zcfg":com_zcfg,"com_szqy":sz},
	            success:function(dd){
	            	// alert(dd);
	                 console.log(dd);
	                if (dd.code == 200) {
	                window.location.reload();
	                  	modal.style.display = "none"; //模态框样式消失
	                 }else{
	                 	alert(msg);
	                  }
	                 
	            }
	        })
    	}else{
    		alert("请填写名称");
    	}
    	
        
    });

    // 修改   
    var close2 = document.getElementsByClassName('close2')[0];  
    var cancel2 = document.getElementById('cancel2');  
    var sure2 = document.getElementById('sure2');  
    var modal2 = document.getElementById('modal2'); 
    //模态框展示 
    $(".showModel2").click(function(){
    	comid = $(this).parent().parent().find(".id").html();
    	comname = $(this).parent().parent().find(".name").html();//获取name
    	comdizhi = $(this).parent().parent().find(".dizhi").html();//获取compaix
    	comszqy = $(this).parent().parent().find(".comszqy").html();
    	comfuqy = $(this).parent().parent().find(".comfuqy").html();
        var comfuqy = comfuqy.substring(0, comfuqy.lastIndexOf(','));
    	//赋值
    	$("#com_fuqy2input:checkbox").eq(comfuqy).attr('checked',true);
    	$("#name2").val(comname);
    	$("#dizhi2").val(comdizhi);
    	$("#sz2").find('option[value="'+comszqy+'"]').attr("selected",true);
    	
    	// alert(comid);comname
    	 modal2.style.display = "block";  
    	});
    close2.addEventListener('click', function(){  
        modal2.style.display = "none";  
    }); 
    cancel2.addEventListener('click', function(){  
        modal2.style.display = "none";  
    });  
    sure2.addEventListener('click', function(){
    	// 获取信息
    	var name2 = $("#name2").val();
    	var dizhi2 = $("#dizhi2").val();
    	var logo2 = $("#logo2").val();
    	var sz2 = $("#sz2").val();
    	var com_zc2=[];
    	var com_lei2 = [];
        var com_fu2 = [];
        $('#com_leixing2 input:checkbox:checked').each(function() {
            com_lei2.push($(this).val());
        });
        $('#com_fuqy2 input:checkbox:checked').each(function() {
            com_fu2.push($(this).val());
        });
         $('#com_zcfg2 input:checkbox:checked').each(function() {
            com_zc2.push($(this).val());
        });
         var com_zcf2=com_zc2.join();
         var com_zcfg2= com_zcf2.concat(",");
         var com_fuq2=com_fu2.join();
         var com_fuqy2= com_fuq2.concat(",");
         var com_leixin2=com_lei2.join();
         var com_leixing2=com_leixin2.concat(",");
    	// alert(comid);
    	
    	// return false;
    	if (name) {
    		$.ajax({
	            type:"post",
	            dataType:'json',
	            async:false,
	            url:'{:url("admin/Gongsi/qyedit")}',
	            data:{"id":comid,"qyname":qyname2,"qypaixu":qypaixu2},
	            success:function(dd){
	                console.log(dd);
	                if (dd.code == 200) {
	                	window.location.reload();
	                	modal2.style.display = "none"; //模态框样式消失
	                }else{
	                	alert(msg);
	                }
	                 
	            }
	        })
    	}else{
    		alert("请填写名称");
    	}
    	
        
    });
    // 执行删除
    $(".delcom").click(function(){
    	if(confirm("确定删除该类型吗？")){
    		var comid = $(this).parent().parent().find(".comid").html();
    		// alert(comid);return false;
    		$(this).parent().parent().remove();
    		// console.log(aa);return false;
    		$.ajax({
	            type:"post",
	            dataType:'json',
	            async:false,
	            url:'{:url("admin/Shop/delete")}',
	            data:{"id":comid},
	            success:function(dd){
	                // console.log(dd);
	                if (dd.code == 200) {
	                	//jq 删除元素

	                }else{
	                	alert(msg);
	                }
	                 
	            }
	        })
    	}
    });
</script> 
</html>
{/block}