{extend name="layoutextend"}
{block name="nav"}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title></title>
</head>
<body>
<div style="margin-left: 2%;margin-right: 2%; margin-top: 1%;">
		<h1 style="text-align: center;">服务区域</h1>
<button class="btn" style="margin-top: -5%;" id="showModel">添加公司</button> 
 		<form class="well form-search" method="post" action="{:url('/admin/shop/index')}">
			<div class="search_type cc mb10" style="margin-top: -4%;margin-left: 70%;">
					<span class="mr20">


						<input type="text" name="keyword" style="width: 160px;" value="" placeholder="请输入关键字...">

						<input type="submit" class="btn btn-primary" value="搜索" />
					</span>
			</div>
		</form> 
		<div class="hei"></div>
	<table class="table table-bordered" >

		<thead>
			<tr>
				<!-- <th>id</th> -->
				<th>编号</th>
				<th width="100">公司名称</th>
				<th>公司商标</th>
				<th>电话</th>
				<th>运营</th>
				<th>认证</th>
				<th>保障金</th>
				<th>公司所在区</th>
				<th>公司地址</th>
				<th style="display: none;">置顶</th>
				<th style="display: none;">服务区域</th>
				<th style="display: none;">服务风格</th>
				<th style="display: none;">服务价位</th>
				<th style="display: none;">服务类型</th>
				<th>功能</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody id="yuansuzhijia">
			<tr><td style="display: none;">{$i=1}</td></tr>
			{foreach name="res" item="vores"}
			
				<tr>
					<td style="display: none;"><span class="id">{$vores.id}</span></td>
					<td><span class="">{$i++}</span></td>
					<td><span class="name">{$vores.name}</span></td>
					<td><span class="logo" name="{$vores.logo}"  ><img src="__STATIC__/uploads/{$vores.logo}" style="width:50px;height: 50px" class="img"></span></td>
					<td><span class="tel">{$vores.com_tel}</span></td>
					<td><span class="bl" name="{$vores.bl}">{if condition="($vores.bl == 1)"}有{else /} 无{/if}</span></td>
					<td><span class="rz" name="{$vores.rz}">{if condition="($vores.rz == 1)"}已认证{else /} 未认证{/if}</span></td>
					<td><span class="sum">{$vores.sum}</span></td>
					<td><span class="comszqy" name="{$vores.com_szqy}">{$vores.qyname}</span></td>
					<td><span class="dizhi">{$vores.dizhi}</span></td>
					<td style="display: none;"><span class="top">{$vores.top}</span></td>
					<td style="display: none;"><span class="comfuqy" >{$vores.com_fuqy}</span></td>
					<td style="display: none;"><span class="comzcfg">{$vores.com_zcfg}</span></td>
					<td style="display: none;"><span class="comprice">{$vores.com_price}</span></td>
					<td style="display: none;"><span class="comleixing">{$vores.com_leixing}</span></td>
					<td ><span style=" cursor: pointer;">{if condition="($vores.com_paixu == 1)"} <button style="width: 60px;" type="button" class="btn zhi" name="{$vores.id}">置顶</button>{else /} <button style="width: 60px;text-align: center;" type="button" class="btn qzhi" name="{$vores.id}">未置顶</button> {/if}</span></td>

					<td>
						<span style=" cursor: pointer;" class="showModel2">修改</span> | 

						<span style=" cursor: pointer;" class="delcom">删除</span> | 
						<span style=" cursor: pointer;"><a style="color: #000;" href="{:url('admin/designer/index',['id'=>$vores['id']])}">设计师</a></span> <br> 

						<span style=" cursor: pointer;" ><a style="color: #000;" href="{:url('/admin/plan/index',['comid'=>$vores.id])}">案例管理</a></span>  |
						<span style=" cursor: pointer;"><a style="color: #000;" href="{:url('admin/article/index',['id'=>$vores['id']])}">文章管理</a></span> | 
						<span style=" cursor: pointer;"><a style="color: #000;" href="{:url('admin/Shoplbt/index',['comid'=>$vores['id']])}">轮播图</a></span>


					</td>
				</tr>
			{/foreach}
			
		</tbody>
		
	</table>
	<div>{$page}</div>
</div>

<!-- 模态框 -->
<div>
	 <!-- 模态框添加 -->
	<div id="modal" class="modal">  
	    <div class="modal-content">  
	        <header class="modal-header">  
	            <h4>添加公司详情</h4>  
	            <span class="close">×</span>  
	        </header>  
	        <div class="modal-body">  
	            <form id="formsubadd" class="form-inline" method="post" enctype="multipart/form-data" action="{:url('admin/Shop/add')}" >
				<table  style="border-collapse:separate; border-spacing:10px; width: 100%;" >
					<tr>
						<td class='wid'>名称</td>
						<td>
							<input type="text" class="form-control" id="names" name="name" placeholder="请输入名字">
						</td>
					</tr>
					<tr>
						<td class='wid'>公司所在区</td>
						<td>
							  <select name="com_szqy" id="sz">  
                               <option value ="0">请选择</option>  
                              {foreach name="qy" item="sz"}
                               <span class="qww"><option value ="{$sz.qycode}">{$sz.qyname}</option></span>  
                              {/foreach}
                    </select>    
						</td>
					<tr>
						<td class='wid'>地址</td>
						<td>
							<input type="text" class="form-control" name="dizhi" id="dizhi"  placeholder="请输入公司地址">
						</td>
					</tr>
					<tr>
						<td class='wid'>商标</td>
						<td>
							
							<input type="file" name="logo" class="logo" />
							
						</td>
					</tr>
					<tr>
						<td class='wid'>电话</td>
						<td>
							<input type="text"  name="com_tel" id="com_tel" placeholder="请输入联系电话">
						</td>
					</tr>
					<tr>
					<tr>
						<td class='wid'>运营执照</td>
						<td id="bl">
						   <input type="radio"  name="bl" value="1"/>是  
	                       <input type="radio" name="bl" value="2"/>否
                       </td>
					</tr>
					<tr>
						<td class='wid'>认证</td>
						<td id="rz">
						   <input type="radio"  name="rz" value="1"/>是  
	                       <input type="radio" name="rz" value="2"/>否
                       </td>
					</tr>
					<tr>
						<td class='wid'>保障金</td>
						<td>
							<input type="text" class="form-control" name="sum" id="suma" placeholder="请输入保障金">
						</td>
					</tr>
					<tr>
						<td class='wid'>服务区域</td>
						<td id="com_fuqy">
							{foreach name="qy" item="fu"}
							<input type="checkbox" value="{$fu.qycode}"  >{$fu.qyname}
							{/foreach}
							<input type="hidden" name="com_fuqy" class="fuqy" value=""> 
						</td>
					</tr>
					<tr>
						<td class='wid'>服务价位</td>
						<td id="com_price">
							{foreach name="jw" item="price"}
							<input type="checkbox" value="{$price.pcode}"   >{$price.pname}
							{/foreach}
							<input type="hidden" name="com_price" class="price" value=""> 
						</td>
					</tr>
					<tr>
						<td class='wid'>服务风格</td>
						<td id="com_zcfg">
							{foreach name="zcfg" item="fg"}
							<input type="checkbox" value="{$fg.zcfgcode}"   >{$fg.zcfgname}
							{/foreach}
							<input type="hidden" name="com_zcfg" class="zcfg" value=""> 
						</td>
					</tr>
					<tr>
						<td class='wid'>服务类型</td>
						<td id="com_leixing">
							{foreach name="xing" item="lei"}
							<input type="checkbox" value="{$lei.lxcode}"  >{$lei.lxname}
							{/foreach}
								<input type="hidden" name="com_leixing" class="leixing" value=""> 
						</td>
					</tr>


				</table>
	        </div>  
	        <footer class="modal-footer">  
	            <button type="button" id="cancel">取消</button>  
	            <button type="button" id="sure">确定</button>  
	        </footer> 
	        
	        </form> 
	    </div>  
	</div> 
	<!-- 模态框修改 -->
	<div id="modal2" class="modal">  
	    <div class="modal-content">  
	        <header class="modal-header">  
	            <h4>信息修改</h4>  
	            <span class="close2">×</span>  
	        </header>  
	        <div class="modal-body">  

	             <form id="formsubedit" class="form-inline" method="post" enctype="multipart/form-data" action="{:url('admin/Shop/edit')}">
				<table  style="border-collapse:separate; border-spacing:10px; width: 100%;" >

						<tr>
						<td class='wid'>名称</td>
						<input type="hidden" name="id" class="ids" value="">
						
						<td>
							<input type="text" class="form-control" name="name" id="name2" placeholder="请输入名字">
						</td>
					</tr>
					<tr>
						<td class='wid'>公司所在区</td>
						<td>
							  <select name="com_szqy" id="sz2">  
                               <option value ="0">请选择</option>  
                              {foreach name="qy" item="sz"}
                               <option value ="{$sz.qycode}">{$sz.qyname}</option>  
                              {/foreach}
                    </select>    
						</td>
					<tr>
						<td class='wid'>地址</td>
						<td>
							<input type="text" class="form-control" namer="dizhi" id="dizhi2" placeholder="请输入公司地址">
						</td>
					</tr>
					<tr>
						<td class='wid'>商标</td>
						<td>
							<div id="img"><img src="" style="width:100px;height: 100px" ></div>
							<input type="file" name="logo" class="form-control" id="logo2"  />
						</td>
					</tr>
						<tr>
						<td class='wid'>电话</td>
						<td>
							<input type="text"  name="com_tel" id="com_tel2" placeholder="请输入联系电话">
						</td>
					</tr>
					<tr>
						<tr>
						<td class='wid'>运营执照</td>
						<td id="bl2">
						   <input type="radio"  name="bl" value="1"/>是  
	                       <input type="radio" name="bl" value="2"/>否
                       </td>
					</tr>
					<tr>
						<td class='wid'>认证</td>
						<td id="rz2">
						   <input type="radio"  name="rz" value="1"/>是  
	                       <input type="radio" name="rz" value="2"/>否
                       </td>
					</tr>
					<tr>
						<td class='wid'>显示</td>
						<td id="top2">
						   <input type="radio"  name="top" value="1"/>是  
	                       <input type="radio"   name="top" value="2"/>否
                       </td>
					</tr>
					<tr>
						<td class='wid'>保障金</td>
						<td>
							<input type="text" class="form-control" name="sum" id="sum2" placeholder="请输入保障金">
						</td>
					</tr>
					<tr>
						<td class='wid'>服务区域</td>
						<td id="com_fuqy2">
							{foreach name="qy" item="fu"}
							<input type="checkbox" value="{$fu.qycode}">{$fu.qyname}
							{/foreach}
							<input type="hidden" name="com_fuqy" class="fuqy" value=""> 
						</td>
					</tr>
					<tr>
						<td class='wid'>服务价位</td>
						<td id="com_price2">
							{foreach name="jw" item="price"}
							<input type="checkbox" value="{$price.pcode}">{$price.pname}
							{/foreach}
							<input type="hidden" name="com_price" class="price" value=""> 
						</td>
					</tr>
					<tr>
						<td class='wid'>服务风格</td>
						<td id="com_zcfg2">
							{foreach name="zcfg" item="fg"}
							<input type="checkbox" value="{$fg.zcfgcode}" >{$fg.zcfgname}
							{/foreach}
							<input type="hidden" name="com_zcfg" class="zcfg" value=""> 
						</td>
					</tr>
					<tr>
						<td class='wid'>服务类型</td>
						<td id="com_leixing2">
							{foreach name="xing" item="lei"}
							<input type="checkbox" value="{$lei.lxcode}"  >{$lei.lxname}
							{/foreach}
							<input type="hidden" name="com_leixing" class="leixing" value=""> 
						</td>
					</tr>


				</table>
	        </div>  
	        <footer class="modal-footer">  
	            <button type="button" id="cancel2">取消</button>  
	            <button type="button" id="sure2">确定</button>  
	        </footer>
	       </form>  
	    </div>  
	</div>  
</div>

</body>
<!-- 模态框js -->
<script>  
// 添加

    var btn = document.getElementById('showModel');  
    var close = document.getElementsByClassName('close')[0];  
    var cancel = document.getElementById('cancel');  
    var sure = document.getElementById('sure');  
    var modal = document.getElementById('modal');  
    btn.addEventListener('click', function(){
        modal.style.display = "block";  
    });  
    close.addEventListener('click', function(){  
        modal.style.display = "none";  
    });  
    cancel.addEventListener('click', function(){  
        modal.style.display = "none";  
    });  
     
    sure.addEventListener('click', function(){  
    	// 获取信息
    	var name = $("#names").val();
    	var dizhi = $("#dizhi").val();
    	var logo = $("#logo").val();
    	var sz = $("#com_szqy").val()
    	var tel = $("#com_tel").val();

    	var sum = $("#suma").val();
    	var bl = $("#bl input[name='bl']:checked").val();
    	var rz = $("#rz input[name='rz']:checked").val();
    	var com_zc=[];
    	var com_lei = [];
        var com_fu = [];
        var com_pr =[];
        $('#com_leixing input:checkbox:checked').each(function() {
            com_lei.push($(this).val());
        });
        $('#com_fuqy input:checkbox:checked').each(function() {
            com_fu.push($(this).val());
        });
         $('#com_zcfg input:checkbox:checked').each(function() {
            com_zc.push($(this).val());
        });
         $('#com_price input:checkbox:checked').each(function() {
            com_pr.push($(this).val());
        });
         var com_pri=com_pr.join();
         var com_price= com_pri.concat(",");
         var com_zcf=com_zc.join();
         var com_zcfg= com_zcf.concat(",");
         var com_fuq=com_fu.join();
         var com_fuqy= com_fuq.concat(",");
         var com_leixin=com_lei.join();
         var com_leixing=com_leixin.concat(",");
         $('#com_fuqy .fuqy').val(com_fuqy);
         $('#com_zcfg .zcfg').val(com_zcfg);
         $('#com_leixing .leixing').val(com_leixing);
          $('#com_price .price').val(com_price);
          
          if (name == "" || dizhi == "" || logo == "" || sz == "" || tel == "" || sum == "" || bl == "") {
          	alert("请完善信息");
          	// return false;
          }
          else if (!tel.match(/^(((13[0-9]{1})|159|153)+\d{8})$/)) { 
            alert("手机号码格式不正确！"); 
        }
          	else{
          	$("#formsubadd").submit();

          }
         
        
    
         // alert(com_leixing);
    	// if (name) {
    	// 	$.ajax({
	    //         type:"post",
	    //         dataType:'json',
	    //         async:false,
	    //         url:'{:url("admin/Shop/add")}',
	    //         data:{"name":name,"dizhi":dizhi,"logo":logo,"com_leixing":com_leixing,"com_fuqy":com_fuqy,"com_zcfg":com_zcfg,"com_szqy":sz,"bl":bl,"rz":rz,"sum":sum,"com_price":com_price},
	           
	    //         success:function(dd){
	            	
	    //              console.log(dd);
	    //             if (dd.code == 200) {
	    //             window.location.reload();
	    //               	modal.style.display = "none"; //模态框样式消失
	    //              }else{
	    //              	alert(msg);
	    //               }
	                 
	    //         }
	    //     })
    	// }else{
    	// 	alert("请填写名称");
    	// }
    	
        
    });

    // 修改   
    var close2 = document.getElementsByClassName('close2')[0];  
    var cancel2 = document.getElementById('cancel2');  
    var sure2 = document.getElementById('sure2');  
    var modal2 = document.getElementById('modal2'); 
    //模态框展示 
    $(".showModel2").click(function(){
    	comid = $(this).parent().parent().find(".id").html();
    	comname = $(this).parent().parent().find(".name").html();//获取name
    	comdizhi = $(this).parent().parent().find(".dizhi").html();//获取compaix
    	comszqy = $(this).parent().parent().find(".comszqy").attr('name');
    	comfuqy = $(this).parent().parent().find(".comfuqy").html();
    	comzcfg = $(this).parent().parent().find(".comzcfg").html();
    	comleixing = $(this).parent().parent().find(".comleixing").html();
    	combl=$(this).parent().parent().find(".bl").attr('name');
        comrz=$(this).parent().parent().find(".rz").attr('name');
        comsum=$(this).parent().parent().find(".sum").html();
        comprice=$(this).parent().parent().find(".comprice").html();
        comlogo=$(this).parent().parent().find(".comlogo").attr('name');
        image=$(this).parent().parent().find(".img").attr('src');
        tel=$(this).parent().parent().find(".tel").html();
        top=$(this).parent().parent().find(".top").html();
       
    	//赋值
    	var compri=comprice.substring(0, comprice.lastIndexOf(','));
        var comfuq = comfuqy.substring(0, comfuqy.lastIndexOf(','));
        var comzcf = comzcfg.substring(0, comzcfg.lastIndexOf(','));
        var comleixi= comleixing.substring(0, comleixing.lastIndexOf(','));	
       $(compri.split(",")).each(function (i,dom){
        $("#com_price2 :checkbox[value='"+dom+"']").prop("checked",true);
        $(" #com_price2 :checkbox[id='"+dom+"']").prop("checked",true);
    });
     $(comfuq.split(",")).each(function (i,dom){
        $("#com_fuqy2 :checkbox[value='"+dom+"']").prop("checked",true);
        $(" #com_fuqy2 :checkbox[id='"+dom+"']").prop("checked",true);
    });
     $(comzcf.split(",")).each(function (i,dom){
        $("#com_zcfg2 :checkbox[value='"+dom+"']").prop("checked",true);
        $(" #com_zcfg2 :checkbox[id='"+dom+"']").prop("checked",true);
    });
     $(comleixi.split(",")).each(function (i,dom){
        $("#com_leixing2 :checkbox[value='"+dom+"']").prop("checked",true);
        $(" #com_leixing2 :checkbox[id='"+dom+"']").prop("checked",true);
    });//复选赋值
    	$("#name2").val(comname);
    	$("#com_tel2").val(tel);
    	$("#dizhi2").val(comdizhi);
    	$("#sum2").val(comsum);
    	$("#logo2").val(comlogo);
    	$("#sz2").find('option[value="'+comszqy+'"]').attr("selected",true);
        $("#bl2 input[name='bl'][value='"+combl+"']").attr("checked",true);  
     	$("#rz2 input[name='rz'][value='"+comrz+"']").attr("checked",true);
     	$("#top2 input[name='top'][value='"+top+"']").attr("checked",true); 
     	$(".ids").val(comid);
     	 $("#img img").attr("src",image);
        
    	// alert(comid);comname
    	 modal2.style.display = "block";  
    	});
    close2.addEventListener('click', function(){  
        modal2.style.display = "none";  
    }); 
    cancel2.addEventListener('click', function(){  
        modal2.style.display = "none";  
    });  
    sure2.addEventListener('click', function(){
    	// 获取信息
    	var name2 = $("#name2").val();
    	var dizhi2 = $("#dizhi2").val();
    	var logo2 = $("#logo2").val();
    	var sz2 = $("#sz2").val();
        var sum2 = $("#sum2").val();
    	var bl2 = $("#bl2 input[name='radio1']:checked").val();
    	var rz2 = $("#rz2 input[name='radio2']:checked").val();
    	var tel2 = $("#com_tel2").val();
    	var com_zc2=[];
    	var com_lei2 = [];
        var com_fu2 = [];
        var com_pr2 =[];
        $('#com_leixing2 input:checkbox:checked').each(function() {
            com_lei2.push($(this).val());
        });
        $('#com_fuqy2 input:checkbox:checked').each(function() {
            com_fu2.push($(this).val());
        });
         $('#com_zcfg2 input:checkbox:checked').each(function() {
            com_zc2.push($(this).val());
        });
         $('#com_price2 input:checkbox:checked').each(function() {
            com_pr2.push($(this).val());
        });
         var com_pri2=com_pr2.join();
         var com_price2= com_pri2.concat(",");
         var com_zcf2=com_zc2.join();
         var com_zcfg2= com_zcf2.concat(",");
         var com_fuq2=com_fu2.join();
         var com_fuqy2= com_fuq2.concat(",");
         var com_leixin2=com_lei2.join();
         var com_leixing2=com_leixin2.concat(",");
        
          $('#com_fuqy2 .fuqy').val(com_fuqy2);
         $('#com_zcfg2 .zcfg').val(com_zcfg2);
         $('#com_leixing2 .leixing').val(com_leixing2);

          if (name2 == "" || dizhi2 == ""  || sz2 == "" || tel2 == "" || sum2 == "" || bl2 == "") {
          	alert("请完善信息");
          	// return false;
          }
          else if(!tel2.match(/^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/)){
            alert("号码不正确");
        }
          	else{
          	$("#formsubedit").submit();

          }
    	// alert(comid);
    	
    	// return false;
    	// if (name2) {
    	// 	$.ajax({
	    //         type:"post",
	    //         dataType:'json',
	    //         async:false,
	    //         url:'{:url("admin/Shop/edit")}',
	    //         data:{"id":comid,"name":name2,"dizhi":dizhi2,"logo":logo2,"com_leixing":com_leixing2,"com_fuqy":com_fuqy2,"com_zcfg":com_zcfg2,"com_szqy":sz2,"bl":bl2,"rz":rz2,"sum":sum2,"com_price":com_price2},
	    //         success:function(dd){
	    //             console.log(dd);
	    //             if (dd.code == 200) {
	    //             	window.location.reload();
	    //             	modal2.style.display = "none"; //模态框样式消失
	    //             }else{
	    //             	alert(msg);
	    //             }
	                 
	    //         }
	    //     })
    	// }else{
    	// 	alert("请填写名称");
    	// }
    	
        
    });
    // 执行删除
    $(".delcom").click(function(){
    	if(confirm("确定删除该类型吗？")){
    		comid = $(this).parent().parent().find(".id").html();
    		var image=$(this).parent().parent().find(".img").attr('src');
    		// alert(comid);return false;
    		$(this).parent().parent().remove();
    		// console.log(aa);return false;
    		$.ajax({
	            type:"post",
	            dataType:'json',
	            async:false,
	            url:'{:url("admin/Shop/delete")}',
	            data:{"id":comid,"image":image},
	            success:function(dd){
	                // console.log(dd);
	                if (dd.code == 200) {
	                	//jq 删除元素

	                }else{
	                	alert(msg);
	                }
	                 
	            }
	        })
    	}
    });
     $(".zhi").click(function(){
     	var shopid=$(this).attr('name');
     	
        $.ajax({
            type:"post",
            dataType:'json',
            async:false,
            url:'{:url("admin/shop/ajaxedit")}',
            data:{"shopid":shopid},
              success:function(dd){
              	if(dd)
              	{
              		window.location.reload();
              	}
              }
        })
        });

        $(".qzhi").click(function(){
     	var shopid=$(this).attr('name');
     	
        $.ajax({
            type:"post",
            dataType:'json',
            async:false,
            url:'{:url("admin/shop/ajaxqzhi")}',
            data:{"shopid":shopid},
              success:function(dd){
              	if(dd)
              	{
              		window.location.reload();
              	}
              }
        })


     });
</script> 
</html>
{/block}