{extend name="layoutextend"}
{block name="nav"}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"> 
    <title></title>


<script type="text/javascript">

    //logo缩略图修改
    function imgPreview(fileDom){
        //判断是否支持FileReader
        if (window.FileReader) {
            var reader = new FileReader();
        } else {
            alert("您的设备不支持图片预览功能，如需该功能请升级您的设备！");
        }

        //获取文件
        var file = fileDom.files[0];
        var imageType = /^image\//;
        //是否是图片
        if (!imageType.test(file.type)) {
            alert("请选择图片！");
            return;
        }
        //读取完成
        reader.onload = function(e) {
            //获取图片dom
            var img = document.getElementById("preview");
            //图片路径设置为读取的图片
            img.src = e.target.result;
        };
        reader.readAsDataURL(file);
    }
    </script>
</head>
<form id="formsubadd" class="form-inline" method="post" enctype="multipart/form-data" action="{:url('adminshop/index/editjbxx')}">
    <table style="border-collapse:separate; border-spacing:10px; width: 100%;padding-left:5%; ">
    <div style="border: 0px red solid;background-color:#D7DDE4;width: 90%;height: 40px;margin-left: 2%"><h3>基本信息</h3></div>
    <tr>
        <td class='wid' width="20%">
            公司名称
        </td>
        <td>
            <input type="text" name="name" class="form-control" value="{$res.0.name}">
        </td>
    </tr>
    <tr>
        <td class='wid' width="20%">
            公司简称
        </td>
        <td>
            <input type="text" name="name_jc" class="form-control" value="{$res.0.name_jc}">
        </td>
    </tr>
    <tr>
        <td class='wid'>
            logo
        </td>
        <td>
            <img style="width: 8%;" id="preview" src="__STATIC__/uploads/{$res.0.logo}" alt=""><br>
            <input type="file" name="logo" class="form-control" onchange="imgPreview(this)" />
        </td>
    </tr>
    <tr>
        <td class='wid'>
            电话
        </td>
        <td>
             <input type="text" name="com_tel" class="form-control" value="{$res.0.com_tel}">
        </td>
    </tr>
    <tr>
        <td class='wid'>
            地址
        </td>
        <td>
             <input type="text" name="dizhi" class="form-control" value="{$res.0.dizhi}">
        </td>
    </tr>
    <tr>
        <td class='wid'>
            服务区域
        </td>
        <td id="fuqyedit">
            {foreach name="fuwuqy" item="fu"}
            <input type="checkbox" class="fuqydianji" value="{$fu.qycode}" >{$fu.qyname}
            {/foreach}
            <input type="hidden" name="com_fuqy" class="fuqy" value="{$res.0.com_fuqy}"> 
        </td>
    </tr>

     <tr>
            <td>
                城市信息
            </td>
            <td>
            <input type="hidden" value="{$res.0.procode}" id="fuzhiprocode">
                <select id="province" name="procode" style="width: 20%;">
                    <option value='0'>省/市</option>
                    {foreach name="pro" item="ce"}
                    <option value='{$ce.code}' {$res.0.procode==$ce.code ? 'selected' : '' }>{$ce.name}</option>
                    {/foreach}
                </select>
                <span id="citySpan">
                <select id="city" name="citycode" style="width: 20%;">
                    <option value="{$resshi[0]['code']}">{$resshi[0]['name']}</option>
                </select>
                </span>
                <span id="areaSpan">
                <select id="area" name="areacode" style="width: 20%;">
                     <option value="{$resqu[0]['code']}">{$resqu[0]['name']}</option>
                </select>
                </span>
            </td>
        </tr>
        <script type="text/javascript">
        $(document).ready(function(){
            //城市级联省 赋值
            var procode = $("#fuzhiprocode").val();
            $("#province").find("option[value = '"+procode+"']").attr("selected","selected");
            // alert(procode);
        });
    //城市级联省-》市
   $("#province").change(function(){
        var provinceid=$(this).val();
        $.ajax({
            type:"post",
            dataType:'json',
            async:false,
            url:'{:url("admin/Ajaxssq/ajaxcity")}',
            data:{"provinceid":provinceid},
            success:function(city){
                // console.log(city); 
                var str = '<option value="0">市/地区</option>';
                $(city).each(function(i,dom){
                    str += "<option value="+dom['code']+">"+dom['name']+"</option>";
                });
                $("#city").html(str);
                 $("#area").html('<option value="0">县/市</option>');
            }
        })
    });
    $("#city").change(function(){
        var city=$(this).val();

        $.ajax({
            type:"post",
            dataType:'json',
            async:false,
            url:'{:url("admin/Ajaxssq/ajaxarea")}',
            data:{"city":city},
             success:function(area){ 
                var str = '<option value="0">县/市</option>';
                $(area).each(function (i,dom){
                     str += "<option value="+dom['code']+">"+dom['name']+"</option>"; 
                 
                    
                 });
                 $("#area").html(str);
            }
         })
    });
</script>
    <tr>
        <td class='wid'>
            服务价位
        </td>
        <td id="priceedit">
            {foreach name="jiawei" item="jia"}
            <input type="checkbox" class="pricedianji" value="{$jia.pcode}" >{$jia.pname}
            {/foreach}
            <input type="hidden" name="com_price" class="price" value="{$res.0.com_price}"> 
        </td>
    </tr>
    <tr>
        <td class='wid'>
            服务风格
        </td>
        <td id="fenggeedit">
            {foreach name="fengge" item="fg"}
            <input type="checkbox" class="fenggedianji" value="{$fg.zcfgcode}" >{$fg.zcfgname}
            {/foreach}
            <input type="hidden" name="com_zcfg" class="fengge" value="{$res.0.com_zcfg}"> 
        </td>
    </tr>
    <tr>
        <td class='wid'>
            服务类型
        </td>
        <td id="leixingedit">
            {foreach name="leixing" item="lx"}
            <input type="checkbox" class="leixingdianji" value="{$lx.lxcode}" >{$lx.lxname}
            {/foreach}
            <input type="hidden" name="com_leixing" class="leixing" value="{$res.0.com_leixing}"> 
        </td>
    </tr>
    <tr>
        <td class='wid'>
            营业执照
        </td>
        <td>
            <img style="width: 8%;" src="__STATIC__/uploads/{$res.0.logo_yingyezz}" alt="营业执照">
        </td>
    </tr>
    <tr>
        <td class='wid'>
            法人
        </td>
        <td>
            <input type="text" name="faren" class="form-control" value="{$res.0.faren}">
        </td>
    </tr>
    <tr>
        <td class='wid'>
            注册资金
        </td>
        <td>
            <input type="text" name="zhucezijin" class="form-control" value="{$res.0.zhucezijin}">单位（万）
        </td>
    </tr>
    <tr>
        <td class='wid'>
            企业格言
        </td>
        <td>
            <input type="text" name="com_slogan" class="form-control" value="{$res.0.com_slogan}">
        </td>
    </tr>
    <tr>
        <td class='wid'>
            公司简介
        </td>
        <td width="80%">
            <!-- <input type="text" name="com_jianjie" class="form-control" value="{$res.0.com_jianjie}"> -->
                <script id="com_jianjie" name="com_jianjie" type="text/plain">{$res.0.com_jianjie}</script>
                        <script>
                       var editor;
                        KindEditor.ready(function(K) {
                        editor=K.create('#com_jianjie');
                        });
                        </script>
                        <script type="text/javascript">
                            var ue = UE.getEditor('com_jianjie');
                        </script>
        </td>
    </tr>

    </table>
         <div style="border: 0px red solid;background-color:#D7DDE4;width: 90%;height: 40px;margin-left: 2%"><h3>公司联系方式</h3></div>
    <table style="border-collapse:separate; border-spacing:10px; width: 100%;padding-left:5%; ">
        <tr>
            <td class='wid' style="width: 20%;">
                联系人
            </td>
            <td>
                <input type="text" name="lianxiren" class="form-control" value="{$res.0.lianxiren}">
            </td>
        </tr>
         <tr>
            <td class='wid'>
                联系人手机
            </td>
            <td>
                <input type="text" name="lianxirenshouji" class="form-control" value="{$res.0.lianxirenshouji}">
            </td>
        </tr>
         <tr>
            <td class='wid'>
                邮箱
            </td>
            <td>
                <input type="text" name="youxiang" class="form-control" value="{$res.0.youxiang}">
            </td>
        </tr>
         <tr>
            <td class='wid'>
                客服QQ
            </td>
            <td>
                <input type="text" name="qqkf" class="form-control" value="{$res.0.qqkf}">
            </td>
        </tr>
    </table>
</form>
<input style="text-align: center;" id="tijiao" type="button" class="btn btn-info" value="修改">
<script type="text/javascript">
$("#tijiao").click(function(){
    $("#formsubadd").submit();
});
        //默认加载
    $(document).ready(function(){
        //服务区域
        var fuqy = $(".fuqy").val();
        var fuqyedit = fuqy.substring(0, fuqy.lastIndexOf(','));
            $(fuqyedit.split(",")).each(function (i,dom){
                $("#fuqyedit :checkbox[value='"+dom+"']").prop("checked",true);
        });
        // 承接价位
        var price = $(".price").val();
        var priceedit = price.substring(0, price.lastIndexOf(','));
            $(priceedit.split(",")).each(function (i,dom){
                $("#priceedit :checkbox[value='"+dom+"']").prop("checked",true);
        });
        // 风格
        var fengge = $(".fengge").val();
        var fenggeedit = fengge.substring(0, fengge.lastIndexOf(','));
            $(fenggeedit.split(",")).each(function (i,dom){
                $("#fenggeedit :checkbox[value='"+dom+"']").prop("checked",true);
        });
        // 类型
        var leixing = $(".leixing").val();
        var leixingedit = leixing.substring(0, leixing.lastIndexOf(','));
            $(leixingedit.split(",")).each(function (i,dom){
                $("#leixingedit :checkbox[value='"+dom+"']").prop("checked",true);
        });
    });
    
    //点击赋值服务区域
    $(".fuqydianji").click(function(){
        var fuwuqu = '';
        $(".fuqydianji").each(function(){
           if(this.checked == true){
                fuwuqu += $(this).val()+",";
            }
        });
        $(".fuqy").val(fuwuqu);
    });
    //点击赋值承接价位
    $(".pricedianji").click(function(){
        var price = '';
        $(".pricedianji").each(function(){
           if(this.checked == true){
                price += $(this).val()+",";
            }
        });
        $(".price").val(price);
    });
    //点击赋值风格
    $(".fenggedianji").click(function(){
        var fengge = '';
        $(".fenggedianji").each(function(){
           if(this.checked == true){
                fengge += $(this).val()+",";
            }
        });
        $(".fengge").val(fengge);
    });
    //点击赋值类型
    $(".leixingdianji").click(function(){
        var leixing = '';
        $(".leixingdianji").each(function(){
           if(this.checked == true){
                leixing += $(this).val()+",";
            }
        });
        $(".leixing").val(leixing);
    });
</script>
{/block}